@import '~@talixo/shared/styles/config'

$inline-input-border-radius: $border-radius-m
$inline-input-border-color: $color-placeholder-text
$inline-input-background-color: $color-white
$inline-input-text-color: $color-black

$inline-input-error-color: $color-talixo-error-red
