@import '~@talixo/shared/styles/config'

$inline-input-border-radius: $x-border-radius
$inline-input-border-color: $color-placeholder-text
$inline-input-background-color: $x-color-background
$inline-input-text-color: $x-color-text

$inline-input-error-color: $x-color-error
