@import './config'

@include module('inline-input')
  position: relative
  color: $inline-input-text-color

  &__input input
    width: 100%
    border: 1px solid $inline-input-border-color
    border-radius: $inline-input-border-radius
    background-color: $inline-input-background-color
    color: $inline-input-text-color

  &__span
    width: 100%
    display: inline-block
    padding: dp(2)
    border: 1px solid transparent
    cursor: text
    appearance: none
    -webkit-appearance: none
    text-align: inherit
    background: transparent

    &--error
      color: $inline-input-error-color

    &:before
      content: '\200b'
