@import './config'

@include module('popover')
  background-color: $color-white
  border-color: $color-tab-border
  color: $color-black

  &--primary
    background-color: $color-white
    border-color: $color-tab-border
    color: $color-black

  &--black
    background-color: $color-black
    border-color: $color-black
    color: $color-white