@import './config'

@include module('slider')

  &__input
    background: $color-talixo-light-gray
    
    &:hover
      background-color: $color-talixo-light-gray-hover

    &::-webkit-slider-thumb
      background: $x-color-secondary
