@import './config'

@include module('notifications')
  position: relative
  width: grid-unit(50)
  display: flex
  flex-wrap: wrap
  flex-direction: column

  > *
    margin: grid-unit(1) grid-unit(2)

  &-container
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw

  &-wrapper
    position: absolute
    height: grid-unit(19)
    width: 100%
    bottom: 0
    left: 0
    overflow: hidden

  .fade-enter
    opacity: 0.01
    transform: translateY(100%)
    &.fade-enter-active
      opacity: 1
      transform: translateY(0)
      transition: opacity 300ms ease-in, transform 300ms

  .fade-exit
    opacity: 1
    transform: translateX(0)
    &.fade-exit-active
      opacity: 0.01
      transform: translateX(100%)
      height: 0
      margin: 0
      padding: 0
      transition: opacity 300ms ease-in, transform 300ms, height 300ms ease 300ms, margin 300ms ease 300ms, padding 300ms ease 300ms, line-height 300ms ease 300ms, border-width 300ms ease 300ms


@include module('notification')
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  // TODO Fix height
  height: grid-unit(9)
  width: 100%
  padding: grid-unit(2) grid-unit(4)
  border: $border-width solid
  border-radius: $border-radius-m
  box-shadow: $shadow-l rgba(0, 0, 0, 0.25)
  font-size: $font-size-m
  overflow: hidden

  > *
    margin: 0 grid-unit(0.5)
    vertical-align: middle

  & .close
    cursor: pointer
    position: absolute
    margin: 0
    top: grid-unit(1)
    right: grid-unit(1)
    opacity: 0.7
    -webkit-transition: opacity 0.1s ease
    transition: opacity 0.1s ease
    font-size: $font-size-l

    &:hover
      opacity: 1
