@import './config'

@include module('avatar')
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  border: 1px solid transparent
  overflow: hidden
  user-select: none
  color: $avatar-color
  background-color: $avatar-background-color

  & > img
    width: 100%
    height: 100%
    text-align: center
    object-fit: cover
