@import '~@talixo/shared/styles/config'

$image-input-transition: linear 0.1s !default
$image-input-padding: $x-input-padding-vertical $x-input-padding-horizontal !default

$image-input-border-width: $x-border-width
$image-input-border-color: $color-border !default
$image-input-border-style: dashed !default
$image-input-border-color-dragover: lighten($image-input-border-color, 20) !default
$image-input-border-style-dragover: dashed !default

$image-input-icon-remove-font-size: $x-font-size-large !default
$image-input-icon-remove-color: $image-input-border-color !default
