@import './config'

@include module('image-input')
  box-sizing: border-box
  position: relative
  display: flex
  align-items: center
  justify-content: space-around
  overflow: hidden
  padding: $image-input-padding
  border: $image-input-border-style $image-input-border-color $image-input-border-width
  transition: border-color $image-input-transition

  &--dragover
    border: $image-input-border-style-dragover $image-input-border-color-dragover $image-input-border-width

    > *
      pointer-events: none

  &--not-empty
    border-color: transparent


  &__input
    display: none

  &__remove
    display: block
    position: absolute
    top: 0
    right: 0
    font-size: $image-input-icon-remove-font-size
    color: $image-input-icon-remove-color
    cursor: pointer
    z-index: 100

  &__image
    position: relative
    cursor: pointer
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    transition: transform $image-input-transition
