@import './config'

@include module('image-input')
  box-sizing: border-box
  display: flex
  position: relative
  justify-content: space-around
  align-items: center
  overflow: hidden
  padding: $x-input-padding-vertical $x-input-padding-horizontal
  border: dashed transparent $x-border-width
  transition: border-color linear 0.1s

  &--dragover
    border-color: $color-border

    > *
      pointer-events: none

  &__input
    display: none

  &__image
    cursor: pointer
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    transition: transform linear 0.1s

    &:hover
      transform: scale(1.05)
