@import '~@talixo/shared/styles/config'

$accordion-button-text-color: inherit !default
$accordion-button-background: $color-pill-gray !default
$accordion-button-background-hover: darken($color-pill-gray, 5%) !default

$accordion-border-color: mix(#000, $accordion-button-background, 5%) !default
$accordion-border-radius: 2px !default
