@import './config'

@include module('optional')
  display: block

  &__checkbox
    display: inline-block

  &--visible #{prefix('optional')}__checkbox
    margin-bottom: $optional-checkbox-margin-bottom
