@import './config'

@include module('optional')
  display: block

  &__label
    display: inline-block
    margin-bottom: $optional-label-margin-bottom

  &__checkbox
    display: inline-block
    margin-bottom: $optional-checkbox-margin-bottom
