@import '~@talixo/shared/styles/config'

$form-field-input-width: 50%
$form-field-label-width: 15%
$form-field-hint-width: 35%

$form-field-label-padding-right: dp(2)
$form-field-label-padding-top: dp(1)

$form-field-hint-padding-left: dp(4)

$form-field-error-color: $color-talixo-error-red
$form-field-hint-color: $color-placeholder-text
$form-field-warning-color: $color-talixo-warning-yellow
