@import '~@talixo/shared/styles/config'

$form-field-label-padding-right: dp(2)

$form-field-hint-padding-left: dp(2)

$form-field-error-color: $color-talixo-error-red
$form-field-hint-color: #666
$form-field-warning-color: $color-talixo-warning-yellow
