@import './config'

@include module('breadcrumbs')
  display: inline-block
  padding: 0

  a
    color: #4183c4
    text-decoration: none

  .divider
    display: inline-block
    opacity: 0.7
    margin: 0 4px 0
    color: rgba(0, 0, 0, 0.4)
    vertical-align: baseline
