{
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "plugins": [
    "react",
    "import",
    "promise",
    "standard"
  ],
  "globals": {
    "it": true,
    "describe": true,
    "expect": true,
    "jest": true,
    "beforeAll": true,
    "afterAll": true
  }
}
