@import '~@talixo/shared/styles/config'

$text-input-font-size: $x-input-text-size !default
$text-input-height: $x-input-height !default
$text-input-padding-horizontal: $x-input-padding-horizontal !default

$text-input-icon-width: dp(2.5) !default
$text-input-icon-size: $text-input-icon-width !default

$text-input-text-color: $x-input-text-color !default
$text-input-background-color: $x-input-background-color !default
$text-input-border-color: $x-input-border-color !default

$text-input-border-width: $x-border-width !default
$text-input-border-radius: $x-border-radius !default

$text-input-hover-background-color: $x-input-hover-background-color !default
$text-input-hover-border-color: $x-input-hover-border-color !default
$text-input-hover-text-color: $x-input-hover-text-color !default

$text-input-focus-background-color: $x-input-focus-background-color !default
$text-input-focus-border-color: $x-input-focus-border-color !default
$text-input-focus-text-color: $x-input-focus-text-color !default

$text-input-error-background-color: $x-input-error-background-color !default
$text-input-error-border-color: $x-input-error-border-color !default
$text-input-error-text-color: $x-input-error-text-color !default
$text-input-error-placeholder-color: $x-input-error-placeholder-color !default

$text-input-placeholder-color: $x-input-placeholder-color !default
$text-input-icon-color: $x-color-intense !default
$text-input-icon-with-padding: $text-input-padding-horizontal + dp(3) !default

$text-input-suffix-margin: dp(1) !default
