@import './config'

@include module('text-input')
  position: relative
  box-sizing: border-box
  display: block

  &__suffix
    box-sizing: border-box
    display: block
    position: absolute
    top: 50%
    transform: translateY(-50%)
    white-space: nowrap
    pointer-events: none
    padding-left: $text-input-suffix-margin
    overflow: hidden
    text-overflow: ellipsis

  &--empty #{prefix('text-input', 'suffix')}
    display: none

  &__input
    box-sizing: border-box
    width: 100%
    outline: none
    font: inherit
    color: $text-input-text-color
    background-color: $text-input-background-color
    border: $text-input-border-width solid $text-input-border-color
    border-radius: $text-input-border-radius
    font-size: $text-input-font-size
    height: $text-input-height
    line-height: $text-input-height
    padding: 0 $text-input-padding-horizontal

    &::placeholder
      color: $text-input-placeholder-color

    &:hover
      background-color: $text-input-hover-background-color
      border-color: $text-input-hover-border-color
      color: $text-input-hover-text-color

    &:focus
      background-color: $text-input-focus-background-color
      border-color: $text-input-focus-border-color
      color: $text-input-focus-text-color

  &--error #{prefix('text-input', 'input')}
    &, &:hover:not(:focus)
      background-color: $text-input-error-background-color
      border-color: $text-input-error-border-color
      color: $text-input-error-text-color

    &::placeholder
      color: $text-input-error-placeholder-color

  &--with-left #{prefix('text-input', 'input')}
    padding-left: $text-input-icon-with-padding

  &--with-right #{prefix('text-input', 'input')}
    padding-right: $text-input-icon-with-padding

  #{prefix('text-input', 'left')},
  #{prefix('text-input', 'right')}
    position: absolute
    white-space: nowrap
    max-height: 100%
    top: 50%
    transform: translateY(-50%)
    font-size: $text-input-icon-size
    color: $text-input-icon-color

  #{prefix('text-input', 'left')}
    left: $text-input-padding-horizontal

    @include rtl-only
      left: auto
      right: $text-input-padding-horizontal

  #{prefix('text-input', 'right')}
    right: $text-input-padding-horizontal

    @include rtl-only
      right: auto
      left: $text-input-padding-horizontal

  @include rtl-only
    &--with-left #{prefix('text-input', 'input')}
      padding-left: $text-input-padding-horizontal
      padding-right: $text-input-icon-with-padding

    &--with-right #{prefix('text-input', 'input')}
      padding-right: $text-input-padding-horizontal
      padding-left: $text-input-icon-with-padding

    &--with-right#{prefix('text-input')}--with-left #{prefix('text-input', 'input')}
      padding-right: $text-input-icon-with-padding
      padding-left: $text-input-icon-with-padding

    & #{prefix('text-input', 'suffix')}
      padding-left: 0
      padding-right: $text-input-suffix-margin
