@import './config'

@include module('switcher')
  > span > span
    background: #eee
    color: #2b2b2b
    transition: 300ms all linear

  #{prefix('switcher', 'yes')}
    background: #ff3900
    color: #fff

  &--disabled
    background: #f5f5f5
