@import './config'

/** Address **/

@include module('address')
  display: flex
  align-items: flex-start
  font-size: $address-font-size
  line-height: $address-line-height
  vertical-align: middle

  &__icon 
    width: $address-base-icon-width
    margin-right: $address-icon-margin

    @include module('icon') 
      font-size: $address-icon-size

  &__short
    margin-top: -1 * $address-airport-border-width
    margin-right: $address-airport-margin
    display: inline-block
    font-size: $address-airport-font-size
    font-weight: $address-airport-font-weight
    text-align: center
    border-radius: $address-airport-border-radius
    border: $address-airport-border-width solid $address-airport-border-color
    min-width: $address-base-airport-width

  &__details 
    > strong 
      color: $address-title-color
      font-weight: $address-title-font-weight

    > span 
      display: block
      color: $address-description-color
      margin-top: $address-title-margin

  @include rtl-only
    &__icon
      margin-right: 0
      margin-left: $address-icon-margin

    &__airport
      margin-right: 0
      margin-left: $address-airport-margin

/** Address path **/

@include module('address-path')
  position: relative
  margin-left: $address-path-offset

  &__point 
    position: relative

  #{prefix('address')}, &__path
    height: $address-path-height

  &__point:last-child #{prefix('address')}
    height: auto

  &__path 
    position: absolute
    margin: 0
    top: $address-icon-font-size-calculated / 2
    left: -1 * $address-path-offset
    width: $address-path-arrow-width
    overflow: hidden

    // Arrow
    &:before 
      content: ''
      position: absolute
      display: block
      border-radius: 50%
      left: 0
      top: 0
      bottom: 0
      right: -200%
      border: $address-path-arrow-stroke-size dashed $address-path-arrow-color
  

    // Arrow cursor
    &:after 
      content: ''
      position: absolute
      display: block
      z-index: 2
      top: 100%
      left: 100%
      width: 0
      height: 0
      transform: rotate($address-path-rotation)
      // FIXME: calculate position correctly (according to size and rotation)
      margin-top: -1 * $address-icon-font-size-calculated / 2
      margin-left: dp(-0.6)
      border-style: solid
      border-width: #{$address-path-pointer-width / 2} 0 #{$address-path-pointer-width / 2} #{$address-path-pointer-height}
      border-color: transparent transparent transparent $address-path-arrow-color

  @include rtl-only
    &__path
      left: auto
      right: -1 * $address-path-offset

      // Arrow
      &:before
        left: -200%
        right: 0

      // Arrow cursor
      &:after
        left: auto
        right: 100%
        transform: rotate(#{$address-path-rotation + 90deg})
        // FIXME: calculate position correctly (according to size and rotation)
        margin-left: auto
        margin-right: dp(-0.6)
