@import '~@talixo/shared/styles/config'

$price-font-size: 1em !default
$price-font-weight: $x-weight-semibold !default

$price-prefix-font-size: 0.6em !default
$price-prefix-margin: dp(0.5) !default
