@import '../../commons/config.sass'

@include module('card')
  color: #8c8c8c
  border-color: $color-tab-border
  background-color: $color-white
	
		&-title
    	border-color: $color-tab-border

    	h2
      	color: $color-white
