@import '~@talixo/shared/styles/config'

$color-input-display-background-width: dp(6.75) !default
$color-input-display-width: $color-input-display-background-width !default
$color-input-picker-width: $color-input-display-background-width !default
$color-input-alpha-button-width: dp(6.75) !default
$color-input-palette-button-width: dp(6.75) !default
$color-input-hsl-button-width: dp(6.75) !default
$color-input-hsl-width: dp(50) !default

$color-input-display-background-border-width: dp(0.125) !default
$color-input-alpha-button-border-width: $color-input-display-background-border-width !default
$color-input-palette-button-border-width: $color-input-display-background-border-width !default
$color-input-hsl-button-border-width: $color-input-display-background-border-width !default

$color-input-picker-border-radius: dp(0.375) !default
$color-input-display-border-radius: dp(0.375) !default
$color-input-display-background-border-radius: $color-input-display-border-radius !default
$color-input-alpha-button-border-radius: dp(0.375) !default
$color-input-palette-button-border-radius: $color-input-alpha-button-border-radius !default
$color-input-palette-item-border-radius: dp(0.375) !default
$color-input-palette-color-border-radius: $color-input-palette-item-border-radius !default
$color-input-hsl-button-border-radius: $color-input-alpha-button-border-radius !default
$color-input-hsl-item-spectrum-width: dp(0.375) !default

$color-input-display-background-size-height: dp(2.5)
$color-input-display-background-size-width: $color-input-display-background-size-height
$color-input-display-background-position: dp(-0.375) dp(-0.375), dp(-0.375) dp(0.875), dp(0.875) dp(-1.625), dp(-1.625) dp(-0.375) !default

$color-input-palette-item-text-padding: dp(0.5) !default
$color-input-hsl-item-margin-top: dp(1) !default
$color-input-hsl-item-margin-bottom: dp(3) !default
$color-input-hsl-item-spectrum-height: dp(2) !default

$color-input-text-input-margin-horizontal: dp(1) !default
$color-input-alpha-button-margin-horizontal: $color-input-text-input-margin-horizontal !default
$color-input-palette-button-margin-horizontal: $color-input-text-input-margin-horizontal !default
$color-input-hsl-button-margin-horizontal: $color-input-text-input-margin-horizontal !default

$color-input-display-background-border-color: $x-input-text-color !default
$color-input-alpha-button-border-color: $x-input-text-color !default
$color-input-palette-button-border-color: $x-input-text-color !default
$color-input-palette-item-border-color: $x-input-text-color !default
$color-input-hsl-button-border-color: $x-input-text-color !default

$color-input-display-background-gradient: #808080 !default
$color-input-alpha-button-background-color: #eeeeee !default
$color-input-palette-button-background-color: #eeeeee !default
$color-input-hsl-button-background-color: #eeeeee !default