@import '~@talixo/shared/styles/config'

$color-input-display-background-width: dp(6.75) !default
$color-input-display-width: $color-input-display-background-width !default
$color-input-picker-width: $color-input-display-background-width !default
$color-input-alpha-button-width: dp(6.75) !default

$color-input-display-background-border-width: dp(0.125)
$color-input-display-background-border-width: dp(0.125)

$color-input-picker-border-radius: dp(0.375)
$color-input-display-border-radius: dp(0.375)
$color-input-display-background-border-radius: $color-input-display-border-radius
$color-input-alpha-button-border-radius: $color-input-display-border-radius

$color-input-text-input-margin-horizontal: dp(1)
$color-input-alpha-button-margin-horizontal: dp(1)

$color-input-display-background-border-color: $x-input-text-color
$color-input-display-background-gradient: #808080