@import '~@talixo/shared/styles/config'

$color-input-display-background-width: dp(6.75) !default
$color-input-display-width: $color-input-display-background-width !default
$color-input-picker-width: $color-input-display-background-width !default
$color-input-alpha-button-width: dp(6.75) !default
$color-input-palette-width: dp(6.75) !default

$color-input-display-background-border-width: dp(0.125) !default
$color-input-alpha-button-border-width: dp(0.125) !default
$color-input-palette-border-width: dp(0.125) !default

$color-input-picker-border-radius: dp(0.375) !default
$color-input-display-border-radius: dp(0.375) !default
$color-input-display-background-border-radius: $color-input-display-border-radius !default
$color-input-alpha-button-border-radius: dp(0.375) !default
$color-input-palette-border-radius:  dp(0.375) !default


$color-input-text-input-margin-horizontal: dp(1) !default
$color-input-alpha-button-margin-horizontal: dp(1) !default
$color-input-palette-margin-horizontal: dp(1) !default

$color-input-display-background-border-color: $x-input-text-color !default
$color-input-alpha-button-border-color: $x-input-text-color !default
$color-input-palette-border-color: $x-input-text-color !default

$color-input-display-background-gradient: #808080 !default
$color-input-alpha-button-background-color: #eeeeee !default
$color-input-palette-background-color: #eeeeee !default