@import './config'

@include module('color-input')
  display: flex

  &__picker
    height: auto
    border-radius: $color-input-picker-border-radius
    border: none
    width: $color-input-picker-width

  &__display
    display: inline-block
    height: 100%
    width: $color-input-display-width
    border-radius: $color-input-display-border-radius

    &--background
      display: inline-block
      height: auto
      width: $color-input-display-background-width
      border: $color-input-display-background-border-width solid $color-input-display-background-border-color
      border-radius: $color-input-display-background-border-radius
      background-image: linear-gradient(45deg, $color-input-display-background-gradient 25%, transparent 25%), linear-gradient(-45deg, $color-input-display-background-gradient 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, $color-input-display-background-gradient 75%),
      linear-gradient(-45deg, transparent 75%, $color-input-display-background-gradient 75%)
      background-size: $color-input-display-background-size-height $color-input-display-background-size-width
      background-position: $color-input-display-background-position

  &__text-input
    margin: 0 $color-input-text-input-margin-horizontal

  &__alpha-button
    display: flex
    justify-content: center
    align-items: center
    height: auto
    width: $color-input-alpha-button-width
    margin: 0 $color-input-alpha-button-margin-horizontal
    border: $color-input-alpha-button-border-width solid $color-input-alpha-button-border-color
    border-radius: $color-input-alpha-button-border-radius
    cursor: pointer
    background-color: $color-input-alpha-button-background-color
    user-select: none
      
  &__palette
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    max-width: dp(58)

    &-button
      display: flex
      justify-content: center
      align-items: center
      height: auto
      width: $color-input-palette-button-width
      margin: 0 $color-input-palette-button-margin-horizontal 0 0
      border: $color-input-palette-button-border-width solid $color-input-palette-button-border-color
      border-radius: $color-input-palette-button-border-radius
      cursor: pointer
      background-color: $color-input-palette-button-background-color
      user-select: none

    &-item
      display: inline-flex
      flex-direction: column
      align-items: center
      height: dp(6)
      width: auto
      min-width: dp(12)
      border: dp(0.125) solid $color-input-palette-item-border-color
      margin: dp(1) dp(1)
      border-radius: $color-input-palette-item-border-radius

      &-text
        padding: $color-input-palette-item-text-padding

      &-color
        display: inline-block
        height: 100%
        width: 100%
        border-bottom: $color-input-palette-color-border-radius

  &__hsl
    width: $color-input-hsl-width

    &-button
      display: flex
      justify-content: center
      align-items: center
      height: auto
      width: $color-input-hsl-button-width
      margin: 0 $color-input-hsl-button-margin-horizontal 0 0
      border: $color-input-hsl-button-border-width solid $color-input-hsl-button-border-color
      border-radius: $color-input-hsl-button-border-radius
      cursor: pointer
      background-color: $color-input-hsl-button-background-color
      user-select: none

    &-item
      margin: $color-input-hsl-item-margin-top 0 $color-input-hsl-item-margin-bottom 0
      &-spectrum
        height: $color-input-hsl-item-spectrum-height
        width: 100%
        background-image: linear-gradient( to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00 )
        border-radius: $color-input-hsl-item-spectrum-width

      label
        display: block
        text-align: center

      &--hue
        .talixo-slider__value
          display: none
