@import './config'
@import './theming'

@include module('item-address')
  display: inline-block
  width: 100%
  font-size: $font-size-m

  >
    *
      margin: 0 4px
      vertical-align: middle

  &__address
    font-size: $font-size-s
    color: $color-talixo-gray
