@import './base-unit'

// Border width

$border-width: 1px

// Border radius

$border-radius-s: dp(0.25)
$border-radius-m: dp(0.5)
$border-radius-pill: dp(6.25)

// Shadow

$shadow-xs: 0 dp(0.125) dp(0.25)
$shadow-s: 0 dp(0.25) dp(0.5)
$shadow-m: 0 dp(0.5) dp(1)
$shadow-l: 0 dp(1) dp(2)
$shadow-xl: 0 dp(2) dp(4)
