@import './config'

@include module('radio-input')
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  padding: dp(0.375)
  font-weight: initial

  >
    span:before
      box-sizing: border-box
      content: ''
      display: inline-block
      vertical-align: middle
      user-select: none
      width: dp(2.4)
      height: dp(2.4)
      margin-right: dp(2)
      border-radius: 50%


    span:first-of-type
      flex: 1 1 auto
      margin: 0 dp(4.4)
      font-size: $font-size-m
