@import './config'

@include module('radio-input')
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  padding: dp(0.375)
  font-weight: initial
  cursor: pointer

  &--disabled
    cursor: not-allowed

  &__input
    display: none

    &:disabled + span
      color: $color-disabled-text

  input:checked + span:before
    border: dp(0.7) solid $color-orange-talixo

  >
    span:before
      border: $border-width solid $color-ghost-border
      border-radius: 50%
      box-sizing: border-box
      content: ''
      display: inline-block
      height: dp(2.4)
      width: dp(2.4)
      margin: 0 dp(1)
      transform: rotate(360deg)
      user-select: none
      vertical-align: middle

    span
      flex: 1 1 auto
      margin: 0 dp(4.4)
      font-size: $font-size-m

      > *
        display: inline-block


  &#{prefix('radio-input--small')} > span:first-of-type
    font-size: $font-size-s


  &#{prefix('radio-input--large')} > span:first-of-type
    font-size: $font-size-l
