@import '~@talixo/shared/styles/config'

$form-field-label-font-size: 1em !default
$form-field-message-font-size: 0.91em !default
$form-field-hint-font-size: $form-field-message-font-size !default

$form-field-hint-font-weight: $x-weight-normal !default
$form-field-message-font-weight: $x-weight-semibold !default
$form-field-label-font-weight: $x-weight-semibold !default

$form-field-label-color: inherit !default
$form-field-hint-color: $x-color-calm !default
$form-field-error-color: $x-color-error !default
$form-field-warning-color: $x-color-warning !default

$form-field-margin: $x-padding-vertical-base !default
$form-field-label-margin: $x-padding-vertical-small !default
$form-field-background-color: $x-color-background !default

$form-field-label-width: 25% !default
$form-field-label-minimum-width: dp(20) !default

$form-field-hint-width: $form-field-label-width !default
$form-field-hint-minimum-width: $form-field-label-minimum-width !default

$form-field-base-height: $x-input-height !default
$form-field-gutter: $x-padding-horizontal-base !default

$form-footer-border-color: $x-color-primary !default
$form-footer-padding-vertical: $x-padding-vertical-base !default
$form-footer-padding-horizontal: $x-padding-horizontal-base !default
