@import './config'

// Calculate required data

$form-field-input-width: 100% - $form-field-label-width - $form-field-hint-width
$form-field-wrapper-width: 100% - $form-field-label-width
$form-field-minimum-input-width: 100% - $form-field-hint-width * 100% / $form-field-wrapper-width
$form-field-relative-hint-width: $form-field-hint-width * 100% / $form-field-wrapper-width
$form-field-relative-input-width: 100% - $form-field-relative-hint-width
$form-field-relative-shallow-label-width: 100% * $form-field-label-width / $form-field-wrapper-width

@include module('form-footer')
  border-top: 2px solid $form-footer-border-color
  padding: $form-footer-padding-vertical $form-footer-padding-horizontal
  margin-top: $form-footer-margin

@include module('field')
  box-sizing: border-box
  margin: $form-field-margin 0

  #{prefix('form-row', 'start')}, // FIXME: mark label
  &__shallow-label
    font-size: $form-field-label-font-size
    font-weight: $form-field-label-font-weight

  #{prefix('form-row', 'start')}, // FIXME: mark label
  &__shallow-label
    color: $form-field-label-color
    margin-bottom: $form-field-label-margin

  &__shallow-label
    display: none

  &__message,
  #{prefix('form-row', 'end')} // FIXME: MARK HINT
    box-sizing: border-box
    margin-top: $form-field-label-margin

  #{prefix('form-row', 'end')}
    font-size: $form-field-hint-font-size
    font-weight: $form-field-hint-font-weight
    color: $form-field-hint-color

  &__message
    font-size: $form-field-message-font-size
    font-weight: $form-field-message-font-weight

  &__message--error
    color: $form-field-error-color

  &__message--warning
    color: $form-field-warning-color

  &__message + #{prefix('field')}__message,
  &--hint:not(#{prefix('field')}--horizontal) #{prefix('field')}__message
    margin-top: 0

  &__message#{prefix('form-row')}--horizontal,
  &__message + #{prefix('field')}__message,
  &--hint:not(#{prefix('field')}--horizontal) #{prefix('field')}__message
    #{prefix('form-row', 'start')},
    #{prefix('form-row', 'end')}
      margin-top: 0
      margin-bottom: 0

@include module('field')
  position: relative

  &--horizontal #{prefix('field')}__shallow-label
    box-sizing: border-box
    speak: none // FIXME: SHALLOW LABEL is a HACK!
    display: flex
    flex-direction: column
    justify-content: center
    position: absolute
    left: 0
    height: 100%
    max-height: $form-field-base-height
    text-align: right
    width: $form-field-label-width
    min-width: #{$form-field-label-minimum-width - $form-field-gutter}
    margin: 0
    padding: 0 $form-field-gutter 0 0

  &--horizontal #{prefix('form-row', 'end')}
    margin: $form-field-label-margin 0

  &--horizontal #{prefix('form-row', 'start')}
    max-height: $form-field-base-height

  &--horizontal #{prefix('field')}__input,
  &--horizontal #{prefix('field')}__shallow-label
    background: $form-field-background-color

  &--horizontal #{prefix('field')}__input
    position: relative
    z-index: 1

  &--focus #{prefix('field')}__input
    z-index: 2

// RTL

@include module('field')
  @include rtl-only
    &__shallow-label
      right: 0
      left: auto
      text-align: left

    &--horizontal #{prefix('field')}__shallow-label
      padding-right: 0
      padding-left: $form-field-gutter

// Fieldset

@include module('fieldset')
  border: none

  & + #{prefix('fieldset')}
    margin-top: $form-legend-margin

// Legend

@include module('form-legend')
  display: block
  font-size: $form-legend-font-size
  font-weight: $form-legend-font-weight
  margin-bottom: $form-legend-margin
  color: $form-legend-color

  &__content
    display: inline-block

  &__aside
    display: inline-block
    float: right
    color: $form-legend-aside-color
    font-weight: $form-legend-aside-font-weight

  &:after
    content: ''
    display: table
    clear: both

  &__aside
    @include rtl-only
      float: left

@include module('form-row')
  position: relative

  &,
  &__start,
  &__content,
  &__end,
  &__inner,
  &__wrapper
    box-sizing: border-box

  &--horizontal
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: stretch
    width: 100%

  &--horizontal #{prefix('form-row')}__end,
  &--horizontal #{prefix('form-row')}__start,
  &--horizontal #{prefix('form-row')}__wrapper
    flex: 1 1 $form-field-label-width // FIXME: is it label width?

  &--horizontal #{prefix('form-row')}__wrapper
    flex: 1 1 $form-field-wrapper-width
    min-width: $form-field-minimum-input-width

  &--horizontal #{prefix('form-row')}__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: stretch
    width: 100%

  &--horizontal #{prefix('form-row')}__end
    flex: 1 1 $form-field-relative-hint-width
    padding: 0 $form-field-gutter

  // FIXME: it's actually required to be set
  &--horizontal #{prefix('form-row')}__end
    margin: 0
  //&--horizontal &__end:not(:empty)
    //margin: $form-field-label-margin 0

  &--horizontal #{prefix('form-row')}__inner
    flex: 1 1 $form-field-relative-input-width
    min-width: $form-field-relative-input-width

  &--horizontal #{prefix('form-row')}__start
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    align-self: flex-start
    height: 100%

  &--horizontal #{prefix('form-row')}__start:before,
  &--horizontal #{prefix('form-row')}__end:before
    content: ''
    display: block
    height: 0

  &--horizontal #{prefix('form-row')}__start:before
    width: #{$form-field-label-minimum-width - $form-field-gutter} // FIXME: is it correct name?

  &--horizontal #{prefix('form-row')}__end:before
    width: #{$form-field-hint-minimum-width - $form-field-gutter}

@include module('form-row')
  &--spread:not(#{prefix('form-row')}--end) #{prefix('form-row')}__end
    display: none

// RTL

@include module('form-row')
  // Vertical
  &__start
    @include rtl-only
      padding-right: 0
      padding-left: $form-field-gutter
