@import '~@talixo/shared/styles/config'

$columns-element-padding: $x-padding-vertical-base !default
$columns-element-icon-padding-vertical: 0 !default
$columns-element-icon-padding-horizontal: $x-padding-vertical-small !default

$columns-element-flex-basis: 0 !default
$columns-element-flex-grow: 1 !default
