@import '~@talixo/shared/styles/config'

$columns-element-padding: dp(2.5)
$columns-element-icon-padding-vertical: 0
$columns-element-icon-padding-horizontal: dp(1.5)

$columns-element-flex-basis: 0
$columns-element-flex-grow: 1
