@import '~@talixo/shared/styles/config'

$columns-gutter: $x-padding-horizontal-base !default

$columns-header-font-size: $x-font-size-bigger !default
$columns-header-text-color: $x-color-primary !default

$columns-header-icon-size: $columns-header-font-size !default
$columns-header-icon-color: mix($columns-header-text-color, transparentize($columns-header-text-color, 1), 20%) !default
$columns-header-icon-margin: $x-padding-horizontal-small !default
