@import './config'

@include module('columns')
  display: flex
  flex-wrap: wrap

@include module('columns-element')
  display: flex
  flex-basis: $columns-element-flex-basis
  flex-grow: $columns-element-flex-grow
  box-sizing: border-box
  padding: $columns-element-padding
  
  &__icon
    padding: $columns-element-icon-padding-vertical $columns-element-icon-padding-horizontal
