@import './config'

@include module('calendar')
  
  .DateInput_input, .DateInput_input__focused
    border-bottom: none

  .DayPickerKeyboardShortcuts_show__bottomRight
    border-right-color: $color-orange-talixo

  .CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover
    background-color: $color-orange-talixo
    border-color: $color-orange-talixo

  .SingleDatePickerInput__withBorder
    border-color: $color-placeholder-text
    
  .DateInput_input::placeholder
    color: $color-placeholder-text
