@import '~@talixo/shared/styles/config'

// Colors
$progress-base-color: #e9ecef !default
$progress-stripes-color: transparentize(#fff, .85) !default

$progress-error-color: #f01414 !default
$progress-success-color: $color-talixo-success-green !default
$progress-info-color: $color-pill-blue !default
$progress-warn-color: $color-talixo-warning-yellow !default

// Size
$progress-height: dp(2) !default
$progress-small-height: dp(1.25) !default
$progress-stripes-scale: 2 !default
$progress-indeterminate-stripes-scale: 8 !default

// Animation
$progress-stripes-speed: 0.1s !default // multiplied by scale

// Others
$progress-border-radius: 2px !default
