@import '~@talixo/shared/styles/config'

$phone-input-font-size: $x-input-text-size !default
$phone-input-height: $x-input-height !default
$phone-input-padding-horizontal: $x-input-padding-horizontal !default

$phone-input-icon-width: dp(2.5) !default
$phone-input-icon-size: $phone-input-icon-width !default

$phone-input-text-color: $x-input-text-color !default
$phone-input-background-color: $x-input-background-color !default
$phone-input-border-color: $x-input-border-color !default

$phone-input-border-width: $x-border-width !default
$phone-input-border-radius: $x-border-radius !default

$phone-input-hover-background-color: $x-input-hover-background-color !default
$phone-input-hover-border-color: $x-input-hover-border-color !default
$phone-input-hover-text-color: $x-input-hover-text-color !default

$phone-input-focus-background-color: $x-input-focus-background-color !default
$phone-input-focus-border-color: $x-input-focus-border-color !default
$phone-input-focus-text-color: $x-input-focus-text-color !default

$phone-input-error-background-color: $x-input-error-background-color !default
$phone-input-error-border-color: $x-input-error-border-color !default
$phone-input-error-text-color: $x-input-error-text-color !default
$phone-input-error-placeholder-color: $x-input-error-placeholder-color !default

$phone-input-disabled-background-color: $x-input-disabled-background-color !default
$phone-input-disabled-border-color: $x-input-disabled-border-color !default
$phone-input-disabled-text-color: $x-input-disabled-text-color !default

$phone-input-placeholder-color: $x-input-placeholder-color !default

$phone-input-flags-list-width: dp(25) !default
$phone-input-arrow-margin: dp(1) !default
$phone-input-arrow-size: dp(2) !default
$phone-input-flag-margin: dp(1) !default

$phone-input-unknown-flag-background-color: mix($phone-input-background-color, $phone-input-text-color, 90%) !default
$phone-input-unknown-flag-text-color: $phone-input-background-color !default
