@import './config'

@include module('phone-input')
  display: flex
  flex-direction: row
  width: 100%

  input
    flex: 1 auto
    padding: 0 dp(1)
    border: 1px solid #eee
    border-radius: 0 $border-radius-m $border-radius-m 0
    outline: none

  &--error
    > input
      color: $color-talixo-error-red
      border-color: $color-talixo-error-red

  @include module('country-flag')
    box-shadow: 0 0 dp(1.25) dp(0.25) rgba(0, 0, 0, .1)

  @include module('combo-box')
    &__value
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-right: 0
      background: #eee
      cursor: pointer
      text-align: center
      min-width: dp(6)
      max-width: dp(6)
      height: 100%

    &__menu
      min-width: dp(25)

    &__controls
      display: none

  &__country
    display: flex
    width: 100%
    line-height: 1em

    @include module('country-flag')
      margin-right: dp(1)

    &__description
      strong
        display: block
      span
        color: #999
        font-size: 0.8em

  [dir=rtl] &__country
    @include module('country-flag')
      margin-right: 0
      margin-left: dp(1)

  [dir=rtl] & input
    border-radius: $border-radius-m 0 0 $border-radius-m

  [dir=rtl] &
    @include module('combo-box')
      &__value
        border-radius: 0 $border-radius-m $border-radius-m 0
