@import './config'

@include module('phone-input')
  display: flex
  flex-direction: row
  width: 100%

  &--disabled
    &#{prefix('phone-input')} > input,
    &#{prefix('phone-input--hover')} > input,
    &#{prefix('phone-input--hover')} > input:hover
      background-color: $phone-input-disabled-background-color
      border-color: $phone-input-disabled-border-color
      color: $phone-input-disabled-text-color
      cursor: not-allowed

  input
    flex: 1 auto
    box-sizing: border-box
    width: 100%
    outline: none
    font: inherit
    color: $phone-input-text-color
    background-color: $phone-input-background-color
    border: $phone-input-border-width solid $phone-input-border-color
    border-left-width: 0
    border-radius: $phone-input-border-radius
    border-top-left-radius: 0
    border-bottom-left-radius: 0

    font-size: $phone-input-font-size
    height: $phone-input-height
    line-height: $phone-input-height
    padding: 0 $phone-input-padding-horizontal

    &::placeholder
      color: $phone-input-placeholder-color

    &:hover
      background-color: $phone-input-hover-background-color
      border-color: $phone-input-hover-border-color
      color: $phone-input-hover-text-color

    &:focus
      background-color: $phone-input-focus-background-color
      border-color: $phone-input-focus-border-color
      color: $phone-input-focus-text-color

  &__unknown-flag
    display: inline-block
    height: 1em
    line-height: 1em
    width: 1.4em
    background: $phone-input-unknown-flag-background-color
    vertical-align: middle
    text-align: center

    &:before
      content: '?'
      font-weight: bold
      color: $phone-input-unknown-flag-text-color

  &--hover input,
  &--hover #{prefix('combo-box')} #{prefix('combo-box', 'value')}
    &, &:hover, &:focus
      background-color: $phone-input-hover-background-color
      border-color: $phone-input-hover-border-color
      color: $phone-input-hover-text-color

  &--focus input,
  &--focus #{prefix('combo-box')} #{prefix('combo-box', 'value')}
    &, &:hover, &:focus
      background-color: $phone-input-focus-background-color
      border-color: $phone-input-focus-border-color
      color: $phone-input-focus-text-color

  &--error:not(#{prefix('phone-input--hover')}):not(#{prefix('phone-input--focus')}),
  &--error#{prefix('phone-input--hover')}:not(#{prefix('phone-input--focus')})
    input,
    #{prefix('combo-box')} #{prefix('combo-box', 'value')}
      &, &:hover
        background-color: $phone-input-error-background-color
        border-color: $phone-input-error-border-color
        color: $phone-input-error-text-color

    &::placeholder
      color: $phone-input-error-placeholder-color

  @include module('combo-box')
    &__value
      border-radius: $phone-input-border-radius
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-right-width: 0
      padding-right: 0
      cursor: pointer
      height: 100%

      > *
        pointer-events: none

    &__menu
      min-width: $phone-input-flags-list-width
      left: $phone-input-border-radius

    &__controls
      margin-left: $phone-input-arrow-margin

    &__arrow
      font-size: $phone-input-arrow-size

    &--disabled
      > button#{prefix('combo-box', 'value')}--placeholder, > button#{prefix('combo-box', 'value')}--placeholder:hover
        background-color: $phone-input-disabled-background-color 
    
  &__country
    display: flex
    width: 100%
    line-height: 1em

    @include module('country-flag')
      margin-right: $phone-input-flag-margin

    &__description
      strong
        display: block
      span
        color: #999
        font-size: 0.8em

  @include module('country-flag')
    box-shadow: 0 0 dp(1.25) dp(0.25) rgba(0, 0, 0, .1)


  [dir=rtl] #{prefix('combo-box', 'controls')}
    margin-left: 0
    margin-right: $phone-input-arrow-margin

  [dir=rtl] &__country
    @include module('country-flag')
      margin-right: 0
      margin-left: $phone-input-flag-margin

  [dir=rtl] & input
    border-width: $phone-input-border-width
    border-right-width: 0
    border-radius: $phone-input-border-radius 0 0 $phone-input-border-radius

  [dir=rtl] &
    @include module('combo-box')
      &__value
        border-right-width: $phone-input-border-width
        border-left-width: 0
        padding-right: $phone-input-padding-horizontal
        padding-left: 0
        border-radius: 0 $phone-input-border-radius $phone-input-border-radius 0

      &__menu
        left: 0
        right: $phone-input-border-radius
