@import '~@talixo/shared/styles/config'

$carousel-arrows-color: $color-talixo-light-gray
$carousel-arrows-color--hover: $color-talixo-lighter-gray
$carousel-dots--single-background-color: $color-talixo-light-gray
$carousel-dots--single-background-color-hover: $color-talixo-lighter-gray
