@import '~@talixo/shared/styles/config'

$button-default-background-color: $color-white !default
$button-default-background-color-hover: rgba(0, 0, 0, 0.05) !default

$button-primary-text-color: $color-white !default
$button-primary-background-color: $color-orange-talixo !default
$button-primary-background-color-hover: $color-orange-hover !default
$button-primary-background-color-active: $color-orange-active !default
$button-primary-border-color: $button-primary-background-color !default
$button-primary-border-color-hover: $color-orange-talixo !default
$button-primary-border-color-active: $button-primary-background-color-active !default
$button-primary-ghost-text-color: $color-orange-talixo !default
$button-primary-ghost-text-color-hover: $color-white !default
$button-primary-ghost-border-color: $button-primary-ghost-text-color !default
$button-primary-ghost-border-color-hover: $color-orange-talixo !default
$button-primary-ghost-background-color: $color-white !default
$button-primary-ghost-background-color-hover: $color-orange-talixo !default

$button-dark-text-color: $color-white !default
$button-dark-background-color: $color-black !default
$button-dark-background-color-hover: $color-black-hover !default
$button-dark-background-color-active: $color-black-active !default
$button-dark-border-color: $button-dark-background-color !default
$button-dark-border-color-hover: $color-black !default
$button-dark-border-color-active: $color-black !default
$button-dark-ghost-text-color: $color-black !default
$button-dark-ghost-text-color-hover: $color-white !default
$button-dark-ghost-background-color: $color-white !default
$button-dark-ghost-background-color-hover: $color-black-hover !default
$button-dark-ghost-background-color-active: $color-black-active !default
$button-dark-ghost-border-color: $button-dark-ghost-text-color !default
$button-dark-ghost-border-color-hover: $color-black-hover !default
$button-dark-ghost-border-color-active: $color-black-active !default

$button-ghost-text-color: $color-ghost-text !default
$button-ghost-text-color-hover: $color-white !default
$button-ghost-background-color: $color-ghost !default
$button-ghost-background-color-hover: $color-ghost !default
$button-ghost-border-color: $button-ghost-text-color !default

$button-disabled-text-color: $color-disabled-text !default
$button-disabled-background-color: $color-white !default
$button-disabled-border-color: $button-disabled-background-color !default

$button-font-size: $font-size-m !default
$button-font-size-small: $font-size-s !default

$button-border-width: $border-width
$button-border-radius: $border-radius-m

$button-shadow-size: $shadow-m
$button-shadow-color: rgba(0, 0, 0, 0.25)
