@import './config'

@include module('button')
  padding: dp(1) dp(1.5)
  margin: 0 dp(.2)
  border: $border-width solid transparent
  border-radius: $border-radius-m
  font-size: $font-size-m
  line-height: dp(3)
  cursor: pointer
  outline: inherit !important
  display: inline-flex
  align-items: center

  > *
    margin: 0 dp(0.5)

  &--small
    padding: dp(0.5) dp(1.5)
    font-size: $font-size-s

  &--full-width
    width: 100%
    border-top-left-radius: 0
    border-top-right-radius: 0
    margin: 0
    text-align: center
