@import './config'

@include module('button')

  display: inline-block
  padding: grid-unit(1) grid-unit(1.5)
  border: $border-width solid
  border-radius: $border-radius-m
  background-color: $color-orange-talixo
  border-color: $color-orange-talixo
  font-size: $font-size-m
  line-height: grid-unit(3)
  cursor: pointer
  box-shadow: $shadow-m rgba(0, 0, 0, 0.25)
  color: $color-white
  outline: inherit !important

  > *
    margin: 0 grid-unit(0.5)
    vertical-align: middle

  &--small
    padding: grid-unit(0.5) grid-unit(1.5)
    font-size: $font-size-s

  &--ghost
    background-color: $color-ghost
    color: $color-ghost-text
    border-color: $color-ghost-border

    &:hover
      color: $color-white
      background-color: $color-ghost-border
      border-color: $color-ghost-border

  &:disabled
    background-color: $color-white
    border-color: $color-white
    color: $color-disabled-text
    cursor: not-allowed

  &--full-width
    width: 100%
    border-top-left-radius: 0
    border-top-right-radius: 0
