@import './config'

@include module('tree')
  display: inline-block
  border-left: dp(0.125) solid $tree-border-color
  padding-left: dp(1)
  font-size: dp(3)

  &__node
    box-sizing: border-box
    display: inline-block
    border-radius: dp(0.4)
    width: 100%
    padding: dp(0.9)
    margin-top: dp(0.2)
    margin-bottom: dp(0.2)
    user-select: none

    &-name
      display: inline-block
      margin-bottom: dp(0.375)

    &-children
      list-style-type: none

    &-icon 
      padding: 0
      user-select: none
      span
        cursor: pointer
        font-size: dp(4)
        padding: 0
    
    &--childless
      padding-left: dp(5)

    &--selected
      color: $tree-node-name-selected
