@import './config'

@include module('tree')
  display: inline-block
  border-left: dp(0.125) solid $tree-border-color
  padding-left: dp(1)
  font-size: dp(3)

  &-node
    box-sizing: border-box
    display: inline-block
    border-radius: dp(0.4)
    width: 100%
    margin-top: dp(0.2)
    line-height: 1.25em
    user-select: none

    #{prefix('collapse', 'content')}
      padding: 0

    > &__name
      display: inline-block
      margin-bottom: dp(0.375)

      &--selectable
        cursor: pointer

    > &__children
      list-style-type: none

    > &__icon
      padding: 0
      user-select: none
      cursor: pointer

      span
        font-size: dp(4)
        padding: 0

    &--childless > &__icon
      visibility: hidden
      pointer-events: none

    &--selected
      color: $tree-node-name-selected

  &-node &-node:last-child > &-node__name
    margin-bottom: 0
