@import './config'

@include module('tree')
  display: inline-block
  cursor: pointer
  border-left: 1px solid black
  padding-left: dp(1)
  font-size: dp(3)

  &, ul
    list-style-type: none

  .tree-node
    box-sizing: border-box
    display: inline-block
    border-radius: dp(0.4)
    width: 100%
    padding: dp(0.9)
    margin-top: dp(0.2)
    margin-bottom: dp(0.2)

  .tree-node__name
    display: inline-block;
    width: calc(100% - 33px);
    margin-top: dp(0.3)


  .tree-node--childless
    padding-left: dp(4)

  .isSelected
    background-color: $tree-node-background-color
    color: white

  .collapse-icon 
    padding: 0
    span
      cursor: pointer
      font-size: dp(4)
      padding: 0