@import './config'

@include module('number-input')
  position: relative

  @include module('text-input')
    &__wrapper--with-right #{prefix('text-input')}
      padding-right: dp(10)

    &__wrapper--with-right #{prefix('text-input', 'right')}
      white-space: nowrap
      font-size: 0
      height: dp(2.5)
      line-height: dp(2.5)
      width: dp(7)

  &-stepper__button
    display: inline-block
    box-sizing: border-box
    width: dp(2.5)
    height: dp(2.5)
    padding: 0
    margin: 0 dp(0.5)
    color: $color-orange-talixo
    border: $border-width solid $color-placeholder-text
    border-radius: dp(2.5)
    background-color: $color-white
    cursor: pointer
    outline: none
    vertical-align: middle

    &:hover
      border-color: $navy
      color: $navy

    &:active
      background-color: $navy
      color: #fff

    span
      font-size: $font-size-m
      font-weight: $font-weight-semibold
      text-align: center
      display: block

    span
      user-select: none

  input[type=number]
    appearance: none

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
    appearance: none
    margin: 0

  > input::placeholder
    color: $color-placeholder-text

  &--error
    border-color: $color-talixo-error-red

    > input
      color: $color-talixo-error-red
