@import '~@talixo/shared/styles/config'

$table-border-color: $x-color-pastel !default

$table-head-text-weight: $x-weight-bold !default
$table-head-text-color: $typography-link-color !default // FIXME: it's not link color actually

$table-row-text-color: $x-color-text !default
$table-row-background-color: $x-color-background !default
$table-row-background-hover-color: bold-color($x-color-background, 2%) !default

$table-even-row-text-color: $x-color-text !default
$table-even-row-background-color: $x-color-pastel !default
$table-even-row-background-hover-color: bold-color($x-color-pastel, 2%) !default

$table-action-color: $typography-link-color !default
$table-action-hover-color: $typography-link-hover-color !default
$table-action-border-color: transparentize($x-color-text, 0.95) !default
$table-action-warn-color: $x-color-error !default
