@import '~@talixo/shared/styles/config'

$table-border-color: $color-tab-inactive !default

$table-head-text-weight: $x-weight-bold !default
$table-head-text-color: $typography-link-color !default // FIXME: it's not link color actually

$table-row-text-color: $x-color-text !default
$table-row-background-color: #fff !default
$table-row-background-hover-color: #f9f9f9 !default

$table-even-row-text-color: $x-color-text !default
$table-even-row-background-color: $color-tab-inactive !default
$table-even-row-background-hover-color: darken($color-tab-inactive, 2%) !default

$table-action-color: $typography-link-color !default
$table-action-hover-color: $typography-link-hover-color !default
$table-action-border-color: rgba(0, 0, 0, .05) !default
$table-action-warn-color: $x-color-error !default
