@import './config'

@include module('collapse')
  display: block

  &--smooth
    transition: 600ms max-height linear
    animation: 600ms show-collapse 1

  &--collapsed
    max-height: 0 !important
    overflow: hidden
    animation: none

@keyframes show-collapse
  0%, 100%
    overflow: hidden
