@import './helpers'
@import './utils'

// Set up configuration variables

$prefix: talixo !default

$base-size: 8px
$gutter: grid-unit(2)

// Font size

$font-size-s: grid-unit(1.5)
$font-size-m: grid-unit(1.75)
$font-size-l: grid-unit(2)
$font-size-xl: grid-unit(2.5)
$font-size-xxl: grid-unit(4)
$font-size-title: grid-unit(12)
$font-size-subtitle: grid-unit(8)
$font-size-h1: grid-unit(6)

// Spacing

$spacing-xs: grid-unit(0.5)
$spacing-s: grid-unit(1)
$spacing-m: grid-unit(2)
$spacing-l: grid-unit(3)
$spacing-xl: grid-unit(4)
$spacing-xxl: grid-unit(8)

// Font weight

$font-weight-content: 500
$font-weight-content-l: 300
$font-weight-h1: 300
$font-weight-h2: 300
$font-weight-h3: 500
$font-weight-h4: 500
$font-weight-h5: 500
$font-weight-h6: 500
$font-weight-light: 300
$font-weight-normal: 400
$font-weight-medium: 500
$font-weight-semibold: 600
$font-weight-bold: 700

// Border width

$border-width: 1px

// Border radius

$border-radius-s: grid-unit(0.25)
$border-radius-m: grid-unit(0.5)
$border-radius-pill: grid-unit(6.25)

// Shadow

$shadow-xs: 0 grid-unit(0.125) grid-unit(0.25)
$shadow-s: 0 grid-unit(0.25) grid-unit(0.5)
$shadow-m: 0 grid-unit(0.5) grid-unit(1)
$shadow-l: 0 grid-unit(1) grid-unit(2)
$shadow-xl: 0 grid-unit(2) grid-unit(4)

// Colors

$color-talixo-navy: #273440
$color-talixo-dark-navy: #000A14
$color-talixo-red: #FF4900
$color-talixo-gray: #6F7B80
$color-talixo-light-gray: #A5BFD9
$color-talixo-lighter-gray: #F0F5F7
$color-talixo-success-green: #80DE2D
$color-talixo-warning-yellow: #E1DC04
$color-talixo-error-red: #FF4900
$color-black: #4C4C4C
$color-black-hover: #666666
$color-black-active: #262626
$color-white: #FFFFFF
$color-orange-talixo: #FF4900
$color-orange-hover: #FF672C
$color-orange-active: #E54100
$color-ghost: transparent
$color-ghost-text: #7E92A6
$color-ghost-border: #A9C7D9
$color-tab-border: #DAE0E6
$color-tab-inactive: #EBEFF2
$color-pill-blue: #00DBD4
$color-pill-gray: #CFDDE6
$color-pill-green: #33B700
$color-pill-yellow: #FFA500
$color-placeholder-text: #A9C7D9
$color-disabled-text: #A5BFD9
$color-paragraphs: #4C4C4C
$color-headers-l: #FF4900
$color-headers-m: #000A14
$color-action-items: #FF4900
$color-inline-links: #000A14
$color-border: #A5BFD9

$navy: #3d4954
$navy-text: #273440
$offwhite: #adb9bc

// Set up important helpers which depends on variables

/**
 * Build selector for specific path
 *
 * i.e. .talixo-module__element from prefix('module', 'element')
 */
@function prefix($name...)
  @return unquote('.#{$prefix}-#{toString($name, '__')}')

/**
 * Build block for specific module
 */
@mixin module ($name)
  #{prefix($name)}
    @content
