@import '~@talixo/shared/styles/config'

// Dimensions
$split-view-list-width: dp(50) !default
$split-view-border: solid 1px $color-border !default
$split-view-border-radius: $border-radius-m !default
$split-view-list-item-height: dp(13) !default

// Colors
$split-view-item-hover: #e4e7e7 !default

// Trnasition
$split-view-transition: all linear .1s
