@import '~@talixo/shared/styles/config'

// Dimensions
$split-view-list-width: dp(50) !default
$split-view-border: solid $x-border-width $color-border !default
$split-view-border-radius: $x-border-radius !default
$split-view-list-item-height: dp(13) !default
$split-view-details-margin: 0 dp(5) !default

// Colors
$split-view-item-hover: $x-color-calmer !default
$split-view-item-active: $x-color-calmer !default

// Trnasition
$split-view-transition: all linear .1s !default
