@import './config'

@include module('split-view')
  display: flex
  flex-direction: row
  height: 100%
  overflow: hidden

  &__details
    margin: 0 dp(5)
    flex-basis: 100%
    border: $split-view-border
    border-radius: $split-view-border-radius
    height: fit-content
    min-height: $split-view-list-item-height
    transition: $split-view-transition

  &__side-panel
    flex-basis: $split-view-list-width
    overflow: auto

  &__list-item
    border-bottom: $split-view-border
    height: $split-view-list-item-height
    transition: $split-view-transition
    cursor: pointer

    &:hover
      background-color: $split-view-item-hover

    &--active
      background-color: lighten($split-view-item-hover, 5)
