.box
  display: block
  width: 50vw
  margin: 0 auto
  text-align: center
  position: relative
  padding: 2em
  background-color: red
  color: #FFFFFF

.scroll-text
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

#trigger, #range-start, #range-stop
  position: fixed
  height: 1px
  width: 100%
  z-index: 1000

  &::before
    position: absolute
    width: 100%
    border: 1px dotted blue
    border-width: 1px 0 0 0

#trigger
  top: 50vh

  &::before
    content: 'trigger'

#range-start
  top: 30vh

  &::before
    content: 'start'

#range-stop
  top: 70vh

  &::before
    content: 'stop'

#trigger-horizontal
  position: fixed
  left: 50vw
  width: 1px
  height: 100vh
  z-index: 1000
  top: 0

  &::before
    content: 'trigger'
    position: absolute
    padding: 1em
    // top: 0
    height: 100%
    border: 1px dotted blue
    border-width: 0 0 0 1px
