@import '~@talixo/shared/styles/config'

$pane-view-resizer-opacity: 0.5

$pane-view-resizer-vertical-height: dp(1.5)
$pane-view-resizer-vertical-border-width: dp(0.625)
$pane-view-resizer-vertical-before-height: dp(0.125)
$pane-view-resizer-vertical-border-color: rgba(0, 0, 0, 0.1)
$pane-view-resizer-vertical-before-background-color: #000000
$pane-view-resizer-vertical-active-background-color: #bbbbbb

$pane-view-resizer-horizontal-height: dp(1.5)
$pane-view-resizer-horizontal-border-width: $pane-view-resizer-vertical-border-width
$pane-view-resizer-horizontal-before-width: $pane-view-resizer-vertical-before-height
$pane-view-resizer-horizontal-border-color: $pane-view-resizer-vertical-border-color
$pane-view-resizer-horizontal-before-background-color: $pane-view-resizer-vertical-before-background-color
$pane-view-resizer-horizonatal-active-background-color: $pane-view-resizer-vertical-active-background-color
