@import './config'

@include module('pane-view')
  display: flex
  flex: 1
  height: 100%
  outline: none
  overflow: hidden
  user-select: text
  
  &--horizontal
    flex-direction: row
    left: 0
    right: 0

  &--vertical
    bottom: 0
    flex-direction: column
    min-height: 100%
    top: 0
    
@include module('pane')
  flex-grow: 1
  flex-shrink: 1
  position: relative
  outline: none
  overflow: hidden
  
@include module('resizer')
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
  box-sizing: border-box
  opacity: 0.5
  z-index: 1
  background-clip: padding-box

  &--vertical
    height: 11px
    border-top: 5px solid rgba(0, 0, 0, 0.1)
    border-bottom: 5px solid rgba(0, 0, 0, 0.1)
    cursor: row-resize
    width: 100%

    &:before
      content: ''
      position: absolute
      display: block
      height: 1px
      width: 100%
      background-color: #000000

    &:active
      background: #bbbbbb

  &--horizontal
    width: 12px
    border-left: 5px solid rgba(0, 0, 0, 0.1)
    border-right: 5px solid rgba(0, 0, 0, 0.1)
    cursor: col-resize

    &:before
      content: ''
      position: absolute
      display: block
      width: 1px
      height: 100%
      background-color: #000000

    &:active
      background: #bbbbbb
