@import './config'

@include module('list')
  list-style-type: none
  padding: 0

  > li
    display: flex

  &__bullet
    display: inline-block
    margin-right: dp(1)
    user-select: none

  [dir=rtl] &__bullet
    margin-right: 0
    margin-left: dp(1)
