@import './config'

@include module('checkbox')
  display: inline-flex
  flex-flow: row nowrap
  align-items: center
  padding: dp(0.5)
  font-weight: initial

  >
    input
      display: block
      flex: 0 0 auto
      border: $border-width solid
      border-radius: $border-radius-m
      font-size: $font-size-m
      width: dp(3)
      height: dp(3)
      margin: 0

      &[type='checkbox']
        display: inline-block

    span:first-of-type
      flex: 1 1 auto
      margin: 0 dp(1.6)
      font-size: $font-size-m

  &#{prefix('checkbox--small')} > span:first-of-type
    font-size: $font-size-s


  &#{prefix('checkbox--large')} > span:first-of-type
    font-size: $font-size-l
