@import './config'

@include module('checkbox')
  > input
    border-color: $color-ghost-border
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    &:focus
      outline: none
      box-shadow: 0 0 0 grid-unit(0.5) rgba(0, 0, 0, 0.25)

    &:checked
      background-color: $color-orange-talixo
      background-repeat: no-repeat
      background-size: grid-unit(2.4) auto
      background-position: 50% 50%
      border-color: transparent
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2018%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%2010.7L1.8%206.5.4%207.9%206%2013.5l12-12L16.6.1%206%2010.7z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E')
