@import './config'

.storybook-mask-example
  font-size: $x-font-size-base
  font-weight: 600

.storybook-mask-input__mask-icon
  font-size: $x-font-size-large
  padding-right: dp(.5)
  color: $color-placeholder-text

  &--checked
    color: $x-color-success
    font-weight: 600
