@import './config'

.storybook-mask-example
  font-size: dp(1.75)
  font-weight: 600
  padding: dp(2)
  border: solid 1px #eee
  border-radius: dp(.25)

.storybook-mask-input__mask-icon
  font-size: dp(3)
  padding-right: dp(.5)
  color: $color-placeholder-text

  &--checked
    color: $color-talixo-success-green
    font-weight: 600
