@import './config'

.storybook-mask-example
  font-size: dp(1.75)
  font-weight: 600

.storybook-mask-input__mask-icon
  font-size: dp(3)
  padding-right: dp(.5)
  color: $color-placeholder-text

  &--checked
    color: $color-talixo-success-green
    font-weight: 600
