@import '~@talixo/shared/styles/config'
@import '~@talixo/table/styles/config'

$data-table-color-active: $x-color-calm !default
$data-table-color-inactive: $x-color-calmer !default

$data-table-row-text-color: $table-row-text-color !default
$data-table-row-background-color: $table-row-background-color !default
$data-table-row-background-hover-color: $table-row-background-hover-color !default

$data-table-even-row-text-color: $table-even-row-text-color !default
$data-table-even-row-background-color: $table-even-row-background-color !default
$data-table-even-row-background-hover-color: $table-even-row-background-hover-color!default

$data-table-collapse-text-color: $data-table-row-text-color !default
$data-table-collapse-background-color: $data-table-row-background-color !default
$data-table-collapse-background-hover-color: $data-table-row-background-hover-color !default

$data-table-even-collapse-text-color: $data-table-even-row-text-color !default
$data-table-even-collapse-background-color: $data-table-even-row-background-color !default
$data-table-even-collapse-background-hover-color: $data-table-even-row-background-hover-color !default

$data-table-transition: ease-out .2s
$data-table-sort-arrow-margin: dp(-.75) dp(.25)
