@import '~@talixo/shared/styles/config'

$color-active: $color-talixo-gray !default
$color-inactive: $color-talixo-lighter-gray !default

$sort-arrow-transition: all ease-out .2s
$sort-arrow-margin: dp(-.75) dp(.25)
