@import './config'

@include module('data-table')

  &__header, &__cell
    &--clickable
      cursor: pointer
      user-select: none

  &__header
    &__arrows
      display: inline-flex
      flex-direction: column
      font-size: dp(2.5)
      vertical-align: middle

    &__arrow
      &-down, &-up
        margin: $data-table-sort-arrow-margin
        color: $data-table-color-inactive
        transition: all $data-table-transition

        &--selected
          color: $data-table-color-active

  &__row
    &--even
      #{prefix('data-table', 'cell')}, > #{prefix('table', 'actions')}
        color: $data-table-even-row-text-color
        background: $data-table-even-row-background-color

      &:hover
        #{prefix('data-table', 'cell')}, #{prefix('table', 'actions')}
          background: $data-table-even-row-background-hover-color

  &__collapse
    transition: $data-table-transition

    #{prefix('data-table', 'collapse', 'cell')}
      color: $data-table-collapse-text-color !important
      background: $data-table-collapse-background-color !important
      transition: padding-top, padding-bottom $data-table-transition

      > *
        transition: max-height, opacity $data-table-transition
        max-height: fit-content
    &:hover > #{prefix('data-table', 'collapse', 'cell')}
      background: $data-table-collapse-background-color !important

    &--even
      td#{prefix('data-table', 'collapse', 'cell')}
        color: $data-table-even-collapse-text-color !important
        background: $data-table-even-collapse-background-color !important

      &:hover > #{prefix('data-table', 'collapse', 'cell')}
        background: $data-table-even-collapse-background-color !important

    &--collapsed
      #{prefix('data-table', 'collapse', 'cell')}
        padding: 0
        > *
          transition: max-height $data-table-transition
          max-height: 0
          opacity: 0

