@import './config'

@include module('data-table')

  &__header
    &--clickable
      cursor: pointer
      user-select: none
      
    &__arrows
      display: inline-flex
      flex-direction: column
      font-size: dp(2.5)
      vertical-align: middle

    &__arrow
      &-down, &-up
        margin: $sort-arrow-margin
        color: $color-inactive
        transition: $sort-arrow-transition

        &--selected
          color: $color-active
