@import './config'

@include module('data-table')
  &__header, &__cell
    &--clickable
      cursor: pointer
      user-select: none

  &__header
    #{prefix('data-table')}__arrows
      display: inline-flex
      flex-direction: column
      font-size: dp(2.5)
      vertical-align: middle

    #{prefix('data-table')}__arrow
      &-down, &-up
        margin: $data-table-sort-arrow-margin
        color: $data-table-color-inactive
        transition: all $data-table-transition

        &--selected
          color: $data-table-color-active

  &__row
    &--even
      #{prefix('data-table', 'cell')},
      > #{prefix('table', 'actions')}
        color: $data-table-even-row-text-color
        background: $data-table-even-row-background-color

      &:hover
        #{prefix('data-table', 'cell')},
        #{prefix('table', 'actions')}
          background: $data-table-even-row-background-hover-color

  & #{prefix('data-table')}__collapse
    transition: $data-table-transition

    #{prefix('data-table', 'collapse', 'cell')}
      color: $data-table-collapse-text-color
      background: $data-table-collapse-background-color
      transition: padding-top, padding-bottom $data-table-transition

      > *
        transition: max-height, opacity $data-table-transition
        max-height: none

    &:hover > #{prefix('data-table', 'collapse', 'cell')}
      background: $data-table-collapse-background-color

    &--even
      td#{prefix('data-table', 'collapse', 'cell')}
        color: $data-table-even-collapse-text-color
        background: $data-table-even-collapse-background-color

      &:hover > #{prefix('data-table', 'collapse', 'cell')}
        background: $data-table-even-collapse-background-color

    &--collapsed
      #{prefix('data-table', 'collapse', 'cell')}
        padding: 0
        overflow: hidden

        > *
          transition: max-height $data-table-transition
          max-height: 0
          opacity: 0
