@import './config'

.storybook-data-table
  display: flex
  justify-content: space-around

  &__item
    padding: dp(3)

    > .talixo-icon
      color: $color-talixo-gray
      padding: 0 dp(2)
      font-size: dp(4)

  &__notification
    position: fixed !important
    width: 50% !important
    top: 25%
    left: 25%

    .talixo-notification__close
      font-size: dp(6)
      padding-top: dp(1.5)

  &__details
    padding: dp(3) 0

    > .talixo-icon
      color: $color-talixo-gray
      padding: 0 dp(3)
      font-size: dp(4)
