@import '~@talixo/shared/styles/config'

$color-legend-base: $color-talixo-red
$color-legend-border: $color-border
$color-disabled: $color-talixo-light-gray
$color-legend-hover: lighten($color-border, 10%) !default

$legend-padding: dp(1)
$legend-border-radius: $border-radius-m

$legend-transition: ease-in .1s all

@mixin graph-color ($id, $color)
  #{prefix('legend', 'colorbox--#{$id}')}
    background-color: $color

  #{prefix('charts','series--#{$id}')}
    stroke: $color
    fill: $color
    > *
      stroke: $color
      fill: $color

@mixin graph-colors ($baseColor)
  @for $i from 0 to 5
    $multiplier: $i * 10%
    @include graph-color($i, darken($baseColor, $multiplier))

  @for $i from 0 to 5
    $multiplier:  $i * 10%
    @include graph-color($i + 5, lighten($baseColor, $multiplier))


