@import '~@talixo/shared/styles/config'

$progress-ring-empty-ring-color: #dddbda !default

$progress-ring-base-color: $x-color-primary !default
$progress-ring-base-text-color: $x-color-primary-opposite !default

$progress-ring-secondary-color: $x-color-secondary !default
$progress-ring-secondary-text-color: $x-color-secondary-opposite !default

$progress-ring-tertiary-color: $x-color-tertiary !default
$progress-ring-tertiary-text-color: $x-color-tertiary-opposite !default

$progress-ring-error-color: $x-color-error !default
$progress-ring-error-text-color: $x-color-error-opposite !default

$progress-ring-warning-color: $x-color-warning !default
$progress-ring-warning-text-color: $x-color-warning-opposite !default

$progress-ring-info-color: $x-color-info !default
$progress-ring-info-text-color: $x-color-info-opposite !default

$progress-ring-success-color: $x-color-success !default
$progress-ring-success-text-color: $x-color-success-opposite !default

// Scale
$p1: 5
$p2: 12

$progress-ring-circle-fill-transition-easing: linear
$progress-ring-circle-fill-transition-time: 0.3s
$progress-ring-circle-stroke-transition-easing: $progress-ring-circle-fill-transition-easing
$progress-ring-circle-stroke-transition-time: 1s

$progress-ring-content-color-transition-easing: $progress-ring-circle-fill-transition-easing
$progress-ring-content-color-transition-time: $progress-ring-circle-fill-transition-time * 4/3 !default

$progress-ring-indeterminate-animation-time: 1s
$progress-ring-indeterminate-animation-easing: linear

$progress-ring-completed: true !default
$progress-ring-completed-color: $progress-ring-success-color !default
$progress-ring-completed-text-color: $progress-ring-success-text-color !default
