@import './config'

$p1: 5
$p2: 12

$down: $p1 / $p2
$up: $p2 / $p1

@mixin progress-ring-color ($name, $color)
  #{prefix('progress-ring')}
    &--#{$name} &__progress > svg > path
      fill: $color

    &--#{$name} &__content
      box-shadow: inset 0 0 0 0 $color
      color: $color

    &--#{$name}#{&}--completed &__content:not(:empty)
      box-shadow: inset 0 0 0 1em $color
      background: $color
      color: text-contrast($color)

@include module('progress-ring')
  position: relative
  display: inline-block
  font-size: 1.2em
  width: 1em
  height: 1em
  line-height: 1em
  border-radius: 50%
  background: #dddbda
  overflow: hidden
  vertical-align: middle

  &__progress
    display: block
    transform: rotate(-90deg)
    height: 1em

    > svg > path
      fill: #4bca81

  &__content
    display: inline-block
    position: absolute
    border-radius: 50%
    font-size: 1em * $down
    left: 0.125em * $up
    top: 0.125em * $up
    width: 0.75em * $up
    height: 0.75em * $up
    line-height: 0.75em * $up * 0.95
    text-align: center
    background: #fff
    color: #4bca81
    transition: 300ms all ease-in
    box-shadow: inset 0 0 0 0 #4bca81

    .tai
      font-size: 1.45em

  &--completed &__content:not(:empty)
    box-shadow: inset 0 0 0 1em #4bca81
    background: #4bca81
    color: #fff

  &--indeterminate &__progress
    animation: indeterminateProgressRing 1s infinite linear

@keyframes indeterminateProgressRing
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@include progress-ring-color('success', $color-talixo-success-green)
@include progress-ring-color('error', #f01414)
@include progress-ring-color('info', $color-pill-blue)
@include progress-ring-color('warning', $color-talixo-warning-yellow)
