@import './config'

@include module('fieldset')
  margin-bottom: $fieldset-margin

  &:not(:last-child):after
    content: ''
    display: inline-block
    height: $fieldset-line-height
    width: 100%
    margin-top: $fieldset-margin
