@import './config'

@include module('fieldset')
  margin-bottom: $fieldset-margin
  border: none

  &:not(:last-child):after
    content: ''
    display: inline-block
    height: dp(0.2)
    width: 100%
    margin-top: $fieldset-margin

  &__legend
    display: inline-block
    font-size: dp(3)
    margin-bottom: $fieldset-margin

  &__aside-legend
    display: inline-block
    margin-left: dp(6)
