// Colors
// TODO: Change them into functional colors, i.e. $color-primary instead of $color-talixo-red

$color-talixo-navy: #273440 !default
$color-talixo-dark-navy: #000A14 !default
$color-talixo-red: #FF4900 !default
$color-talixo-gray: #6F7B80 !default
$color-talixo-light-gray: #A5BFD9 !default
$color-talixo-lighter-gray: #F0F5F7 !default
$color-talixo-success-green: #80DE2D !default
$color-talixo-warning-yellow: #E1DC04 !default
$color-talixo-error-red: #FF4900 !default
$color-black: #4C4C4C !default
$color-black-hover: #666666 !default
$color-black-active: #262626 !default
$color-white: #FFFFFF !default
$color-orange-talixo: #FF4900 !default
$color-orange-hover: #FF672C !default
$color-orange-active: #E54100 !default
$color-ghost: transparent !default
$color-ghost-text: #7E92A6 !default
$color-ghost-border: #A9C7D9 !default
$color-tab-border: #DAE0E6 !default
$color-tab-inactive: #EBEFF2 !default
$color-pill-blue: #00DBD4 !default
$color-pill-gray: #CFDDE6 !default
$color-pill-green: #33B700 !default
$color-pill-yellow: #FFA500 !default
$color-placeholder-text: #A9C7D9 !default
$color-disabled-text: #A5BFD9 !default
$color-paragraphs: #4C4C4C !default
$color-headers-l: #FF4900 !default
$color-headers-m: #000A14 !default
$color-action-items: #FF4900 !default
$color-inline-links: #000A14 !default
$color-border: #A5BFD9 !default
$color-quote-background: #F5F5F5 !default
$color-quote-border: #D5D5D5 !default
$color-quote-footer: #999 !default
$color-mark-background: rgba($color-pill-yellow, 0.3) !default
$color-mark-text: $color-black !default
$color-code-background: #eee !default
$color-code-text: #444 !default

$navy: #3d4954 !default
$navy-text: #273440 !default
$offwhite: #adb9bc !default
$navy-inverse-text: #fff !default
$sidebar-icon-color: #c2cbcd !default
