// Colors
// TODO: Change them into functional colors, i.e. $color-primary instead of $color-talixo-red

$color-talixo-navy: #273440
$color-talixo-dark-navy: #000A14
$color-talixo-red: #FF4900
$color-talixo-gray: #6F7B80
$color-talixo-light-gray: #A5BFD9
$color-talixo-lighter-gray: #F0F5F7
$color-talixo-success-green: #80DE2D
$color-talixo-warning-yellow: #E1DC04
$color-talixo-error-red: #FF4900
$color-black: #4C4C4C
$color-black-hover: #666666
$color-black-active: #262626
$color-white: #FFFFFF
$color-orange-talixo: #FF4900
$color-orange-hover: #FF672C
$color-orange-active: #E54100
$color-ghost: transparent
$color-ghost-text: #7E92A6
$color-ghost-border: #A9C7D9
$color-tab-border: #DAE0E6
$color-tab-inactive: #EBEFF2
$color-pill-blue: #00DBD4
$color-pill-gray: #CFDDE6
$color-pill-green: #33B700
$color-pill-yellow: #FFA500
$color-placeholder-text: #A9C7D9
$color-disabled-text: #A5BFD9
$color-paragraphs: #4C4C4C
$color-headers-l: #FF4900
$color-headers-m: #000A14
$color-action-items: #FF4900
$color-inline-links: #000A14
$color-border: #A5BFD9
$color-quote-background: #F5F5F5
$color-quote-border: #D5D5D5
$color-quote-footer: #999
$color-mark-background: rgba($color-pill-yellow, 0.3)
$color-mark-text: $color-black
$color-code-background: #eee
$color-code-text: #444

$navy: #3d4954
$navy-text: #273440
$offwhite: #adb9bc
$navy-inverse-text: #fff
$sidebar-icon-color: #c2cbcd
