// Colors
// TODO: Get rid of these colors

$color-talixo-light-gray: #A5BFD9 !default
$color-talixo-lighter-gray: #F0F5F7 !default

$color-tab-border: #DAE0E6 !default
$color-tab-inactive: #EBEFF2 !default

$color-pill-yellow: #FFA500 !default
$color-placeholder-text: #A9C7D9 !default

$color-border: #A5BFD9 !default

$navy: #3d4954 !default
$navy-text: #273440 !default
$offwhite: #adb9bc !default

$sidebar-icon-color: #c2cbcd !default
