@import 'base-unit'

// Font size

$font-size-s: dp(1.5)
$font-size-m: dp(1.75)
$font-size-l: dp(2)
$font-size-xl: dp(2.5)
$font-size-xxl: dp(4)
$font-size-title: dp(8)
$font-size-subtitle: dp(6)

$font-size-h1: dp(4)
$font-size-h2: dp(3)
$font-size-h3: dp(2.75)
$font-size-h4: $font-size-xl
$font-size-h5: $font-size-l
$font-size-h6: $font-size-m

// Spacing

$spacing-xs: dp(0.5)
$spacing-s: dp(1)
$spacing-m: dp(2)
$spacing-l: dp(3)
$spacing-xl: dp(4)
$spacing-xxl: dp(8)

// Font weight

$font-weight-content: 500
$font-weight-content-l: 300
$font-weight-h1: 300
$font-weight-h2: 300
$font-weight-h3: 500
$font-weight-h4: 500
$font-weight-h5: 600
$font-weight-h6: 600
$font-weight-light: 300
$font-weight-normal: 400
$font-weight-medium: 500
$font-weight-semibold: 600
$font-weight-bold: 700
