@import 'base-unit'

// Font size

$font-size-s: dp(1.5) !default
$font-size-m: dp(1.75) !default
$font-size-l: dp(2) !default
$font-size-xl: dp(2.5) !default
$font-size-xxl: dp(4) !default
$font-size-title: dp(8) !default
$font-size-subtitle: dp(6) !default

$font-size-h1: dp(4) !default
$font-size-h2: dp(3) !default
$font-size-h3: dp(2.75) !default
$font-size-h4: $font-size-xl !default
$font-size-h5: $font-size-l !default
$font-size-h6: $font-size-m !default

// Spacing

$spacing-xs: dp(0.5) !default
$spacing-s: dp(1) !default
$spacing-m: dp(2) !default
$spacing-l: dp(3) !default
$spacing-xl: dp(4) !default
$spacing-xxl: dp(8) !default

// Font weight

$font-weight-content: 500 !default
$font-weight-content-l: 300 !default
$font-weight-h1: 300 !default
$font-weight-h2: 300 !default
$font-weight-h3: 500 !default
$font-weight-h4: 500 !default
$font-weight-h5: 600 !default
$font-weight-h6: 600 !default
$font-weight-light: 300 !default
$font-weight-normal: 400 !default
$font-weight-medium: 500 !default
$font-weight-semibold: 600 !default
$font-weight-bold: 700 !default
