@import 'base-unit'

// Border width

$border-width: 1px !default

// Border radius

$border-radius-s: dp(0.25) !default
$border-radius-m: dp(0.5) !default
$border-radius-pill: dp(6.25) !default

// Shadow

$shadow-xs: 0 dp(0.125) dp(0.25) !default
$shadow-s: 0 dp(0.25) dp(0.5) !default
$shadow-m: 0 dp(0.5) dp(1) !default
$shadow-l: 0 dp(1) dp(2) !default
$shadow-xl: 0 dp(2) dp(4) !default
