@import '~@talixo/icon-pack/webfont/style.font.css'

@import url(https://fonts.googleapis.com/icon?family=Material+Icons)

.tai
  display: inline-block
  vertical-align: middle

.tai.tai--material
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings: 'liga'
