@import '../config'

/*
 Given:
  - X - width of „1 of 4” column
  - Y - width of „2 of 4” column
  - G - gutter
  - C - number of all columns

  100% = 4X + 4G
  100% = 2Y + 2G

  2Y + 2G = 4X + 4G
  2Y = 4X + 2G
  Y = 2X + G

  and:

  4X = 100% - 4G
  X = 25% - G

  then:

  Y = 2 * (25% - G) + G
  Y = 50% - 2G + G
  Y = 50% - G

  so assumption is that for „N of C” column width is:

  W = 100% * N/C - G
 */

@function _masonry-width($i, $cols, $gutter)
  @return '#{percentage($i/$cols)} - #{$gutter}'

@mixin masonry($cols, $gutter, $prefix: '')
  @for $i from 1 to $cols + 1
    $width: calc(#{_masonry-width($i, $cols, $gutter)})

    .masonry > #{$group-class-name}--spaced > .#{$segment-class-name}-#{$prefix}#{$i}
      min-width: $width
      max-width: $width
