@import './config'

@include module('tab')
  padding: dp(1) dp(1.5)
  border: 0 solid $color-tab-border
  border-width: 1px 1px 0 1px
  border-radius: $border-radius-m $border-radius-m 0 0
  font-size: $font-size-s
  cursor: pointer
  display: inline-flex
  align-items: center

  & + &
    margin-left: 1px

  > *
    margin: 0 dp(0.5)

  &:active
    font-weight: $font-weight-semibold

  &.active
    font-weight: $font-weight-semibold
