@import './config'

@include module('tab')
  background-color: $color-tab-inactive
  border-color: $color-tab-border
  color: #000

  &:hover
    background-color: $color-white

  &:active
    background-color: $color-white

  &.active
    background-color: $color-white
