@import '~@talixo/shared/styles/config'

$border-radius-m: dp(0.25)
$border-width-m: dp(0.125)

$z-index-tooltip: 1000

$brand-color: $color-talixo-navy
$border-color: #cccccc
$border-list-bottom: #eeeeee
$background-list-option: #f5f5f5
