@import '~@talixo/shared/styles/config'

$options-input-font-size: $x-input-text-size !default
$options-input-font-weight: $x-weight-semibold !default
$options-input-height: $x-input-height !default
$options-input-padding-horizontal: $x-input-padding-horizontal !default

$options-input-text-color: $x-input-text-color !default
$options-input-background-color: $x-input-background-color !default
$options-input-border-color: transparent !default

$options-input-border-width: $x-border-width !default
$options-input-border-radius: $x-border-radius !default

$options-input-hover-background-color: $x-input-hover-background-color !default
$options-input-hover-border-color: $x-input-hover-border-color !default
$options-input-hover-text-color: $x-input-hover-text-color !default

$options-input-focus-background-color: $x-input-focus-background-color !default
$options-input-focus-border-color: $x-input-focus-border-color !default
$options-input-focus-text-color: $x-input-focus-text-color !default

$options-input-error-background-color: $x-input-error-background-color !default
$options-input-error-border-color: $x-input-error-border-color !default
$options-input-error-text-color: $x-input-error-text-color !default

$options-input-label-title-font-weight: $x-weight-semibold !default
$options-input-label-title-text-color: $options-input-text-color !default

$options-input-label-description-font-weight: $x-weight-normal !default
$options-input-label-description-text-color: mix($options-input-label-title-text-color, $options-input-focus-background-color, 50%) !default

$options-input-with-box-shadow: true !default

$options-input-icon-size: 1.5em !default
$options-input-icon-margin: dp(0.25) !default
$options-input-option-margin: dp(0.375) !default
$options-input-option-empty-color: $x-color-calm !default

$options-input-arrow-size: $options-input-icon-size !default
$options-input-arrow-margin: dp(1) !default

$options-input-right-movement: dp(2) !default
$options-input-minimum-width: dp(30) !default

$options-input-inactive-background-color: #eee !default
$options-input-label-font-size: $options-input-font-size * 0.8 !default
$options-input-label-line-height: 1.1em !default

$options-input-tooltip-title-font-weight: $options-input-label-title-font-weight !default
$options-input-tooltip-description-font-weight: $options-input-label-description-font-weight !default
$options-input-tooltip-title-margin: dp(1) !default
