@import '~@talixo/shared/styles/config'

$font-weight-h1: 600    // ZROBIC COS Z TYM
$font-weight-h2: 600
$font-weight-h3: 600
$font-weight-h4: 600
$font-weight-h5: 600
$font-weight-h6: 600
$border-radius-m: 2px   //NA DP()

// New Talixo
$brand-color: #3f43a1
$secondary-color: #f8c71c
$secondary-brand-color: #ff4900
$third-color: #14a222

$color-orange-talixo: $brand-color