@import './config'

@include module('text-input')
  border: none
  &__suffix
    margin-left: dp(1)

    &:before
      display: none

.options-input
  &__toggle
    display: flex
    align-items: center
    white-space: nowrap
    font-size: dp(1.7)
    line-height: 1.5em
    border-radius: $border-radius-m
    height: dp(6)
    font-weight: $font-weight-semibold
    padding: 0 dp(1.25)
    margin: 0
    border: $border-width-m solid transparent
    background: transparent
    outline: none
    cursor: pointer

    &:hover, &:focus
      border-color: $border-color

  &__value .talixo-icon
    font-size: 1.5em
    margin-right: dp(0.5)

  &__value
    display: flex

  &__option
    display: inline-flex
    align-items: center
    margin-right: dp(1)

    &-label__title
      display: block
      font-weight: $font-weight-semibold

    &-label__description
      font-weight: $font-weight-normal

  &__list
    display: none
    position: absolute
    z-index: 998
    min-width: dp(35)
    margin-top: dp(-0.125)
    border: $border-width-m solid $brand-color
    border-radius: $border-radius-m
    border-top-left-radius: 0
    background: $color-white

    &-option__label
      font-size: dp(1.6)
      margin-bottom: dp(1.625)
    
    &-option__title
      display: block

    &-option__description
      font-weight: $font-weight-normal
    
  &__list &__list-option--active
    background: $color-white

  &__list-option
    &__title, &__description
      display: block
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

    &__title
      font-weight: $font-weight-semibold
    
    &__description
      font-weight: $font-weight-normal

@include module('number-input')
  input
    font-weight: $font-weight-semibold
    border: 0
    padding-right: dp(9)
    background: transparent

@include module('options-input')
  display: inline-block
  position: relative
  &__list-option
    line-height: 1em
    background: $background-list-option
    border-bottom: $border-width-m solid $border-list-bottom

    &--active
      background: $color-white

    &:last-child
      border-bottom: 0

  &--open .options-input__toggle
    position: relative
    z-index: 999
    background: $color-white
    padding: 0 dp(1.25)
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-color: $brand-color
    border-bottom-color: transparent

  &--open .options-input__list
    display: block

//must be greater than 999
.talixo-tooltip
  z-index: $z-index-tooltip
