@import '~@talixo/shared/styles/config'

$timeline-point-margin: $x-padding-horizontal-base !default
$timeline-line-size: $x-border-width-heavy !default
$timeline-line-style: dotted !default

$timeline-point-color: $x-color-calm !default
$timeline-line-color: $timeline-point-color !default

$timeline-point-special-color: $x-color-success !default
$timeline-line-special-color: $timeline-point-special-color !default

$timeline-point-icon-size: $x-font-size-large !default
$timeline-point-icon-margin: dp(0.5) !default
$timeline-point-radius: dp(1) !default
$timeline-point-stroke: $x-border-width-heavy !default
$timeline-point-pointer-margin: $x-padding-vertical-small !default

$timeline-short-line-size: 4/3 * $x-padding-horizontal-bigger !default
