@import './config'

@include module('time-picker')
  position: relative
  display: flex
  flex-direction: row
  align-items: center

  &__input-hour,
  &__input-minutes
    flex-basis: dp(14)

  &__input
    position: relative
    display: block

    input[type=number]
      appearance: none

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button
      appearance: none
      margin: 0

    > input
      background-color: $time-picker-background-color
      border: 1px solid $time-picker-border-color

    &--open
      position: relative
      z-index: 2

      > input
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        border-bottom: 1px solid $time-picker-background-color

    &--arrow
      display: inline-block
      font-size: 1.5rem
      line-height: 1em
      border: 0
      background: transparent
      color: #bbb

  &__menu
    position: absolute
    display: flex
    flex-direction: row
    padding: dp(1)
    margin-top: dp(-0.125)
    background-color: $time-picker-background-color
    border: 1px solid $time-picker-border-color

  &__colon
    padding: dp(1)

  .talixo-text-input__right
    pointer-events: none

  .talixo-text-input__suffix
    padding-bottom: dp(0.25)

@include module('time-menu')
  position: relative
  column-width: 100%
  column-count: 1
  column-gap: dp(2)
  padding: dp(1)
  user-select: none

  &__header
    column-span: all
    display: flex
    align-items: center
    justify-content: flex-start
    margin-bottom: dp(2)
    font-size: dp(3)
    line-height: dp(3)

  &__button
    min-width: dp(10)
    display: flex
    align-items: center
    justify-content: center
    background-color: $color-white
    border: 1px solid $time-picker-border-color
    border-radius: dp(0.5)
    line-height: dp(4)
    white-space: nowrap
    margin-bottom: dp(2)
    cursor: pointer
    outline: none

    &--selected
      background-color: #6bf
      border-color: #6bf
      color: $color-white
      font-weight: $font-weight-bold
