@import './config'

@include module('control-group')
  display: flex
  width: 100%

  &--horizontal
    flex-direction: row

    > *
      margin: 0 $control-group-gutter

    > :first-child
      margin: 0 $control-group-gutter 0 0

    > :last-child
      margin: 0 0 0 $control-group-gutter

  &--vertical
    flex-direction: column

    > *
      margin: $control-group-gutter 0

    > :first-child
      margin: 0 0 $control-group-gutter 0

    > :last-child
      margin: $control-group-gutter 0 0 0

  &--horizontal-start
    justify-content: flex-start

  &--horizontal-center
    justify-content: center

  &--horizontal-end
    justify-content: flex-end

  &--vertical-start
    align-items: flex-start

  &--vertical-center
    align-items: center

  &--vertical-end
    align-items: flex-end
