@import './config'

@include module('pill')
  display: inline-block
  padding: grid-unit(0.5) grid-unit(2)
  border: $border-width solid
  border-radius: $border-radius-pill
  background-color: $navy
  border-color: $navy
  font-size: $font-size-s
  font-weight: $font-weight-semibold
  