@import './config'

@include module('pill')
  &--blue
    background-color: $color-pill-blue
    border-color: $color-pill-blue

  &--gray
    background-color: $color-pill-gray
    border-color: $color-pill-gray

  &--green
    background-color: $color-pill-green
    border-color: $color-pill-green

  &--red
    background-color: $color-orange-talixo
    border-color: $color-orange-talixo

  &--yellow
    background-color: $color-pill-yellow
    border-color: $color-pill-yellow

  &--ghost
    background-color: $color-ghost
    border-color: $color-ghost-border

    &#{prefix('pill')}--blue
      border-color: $color-pill-blue

    &#{prefix('pill')}--gray
      border-color: $color-pill-gray

    &#{prefix('pill')}--green
      border-color: $color-pill-green

    &#{prefix('pill')}--red
      border-color: $color-orange-talixo

    &#{prefix('pill')}--yellow
      border-color: $color-pill-yellow
