@import './config'

@include module('pill')
.pill--blue
  background-color: $color-pill-blue
  border-color: $color-pill-blue

.pill--gray
  background-color: $color-pill-gray
  border-color: $color-pill-gray

.pill--green
  background-color: $color-pill-green
  border-color: $color-pill-green

.pill--red
  background-color: $color-orange-talixo
  border-color: $color-orange-talixo

.pill--yellow
  background-color: $color-pill-yellow
  border-color: $color-pill-yellow

.pill--ghost
  background-color: $color-ghost
  border-color: $color-ghost-border

  &.pill--blue
    border-color: $color-pill-blue

  &.pill--gray
    border-color: $color-pill-gray

  &.pill--green
    border-color: $color-pill-green

  &.pill--red
    border-color: $color-orange-talixo

  &.pill--yellow
    border-color: $color-pill-yellow
