@import './config'

@include module('pill')
  border-radius: $border-radius-pill
  background-color: $navy
  color: $color-white

  &--blue
    background-color: $color-pill-blue
    border-color: $color-pill-blue
    color: $color-black

  &--gray
    background-color: $color-pill-gray
    border-color: $color-pill-gray
    color: $color-black

  &--green
    background-color: $color-pill-green
    border-color: $color-pill-green
    color: $color-black

  &--red
    background-color: $color-orange-talixo
    border-color: $color-orange-talixo
    color: $color-black

  &--yellow
    background-color: $color-pill-yellow
    border-color: $color-pill-yellow
    color: $color-black

  &--ghost
    background-color: $color-ghost
    color: $color-black
