@import '~@talixo/shared/styles/config'

$how-it-works-image-height: dp(30) !default
$how-it-works-image-margin: $x-padding-vertical-bigger !default

$how-it-works-section-max-width: dp(30) !default
$how-it-works-section-min-width: dp(20) !default
$how-it-works-section-margin-horizontal: $x-padding-horizontal-bigger !default
$how-it-works-section-margin-vertical: $x-padding-vertical-bigger !default

$how-it-works-title-font-size: $x-font-size-big !default
$how-it-works-line-height-base: $x-line-height-base !default

$how-it-works-divider-height: $x-border-width-heavy !default

$how-it-works-divider-gradient-from: transparent !default
$how-it-works-divider-gradient-to: $x-color-primary !default

$how-it-works-divider-width: dp(7)
