@import '~@talixo/shared/styles/config'

// Elements
$sel-nav: #{prefix('navigation')}
$sel-nav-subtitle: #{prefix('navigation', 'subtitle')}
$sel-nav-parent: #{prefix('navigation--parent')}
$sel-nav-elem: #{prefix('navigation-element')}
$sel-nav-elem-button: #{prefix('navigation-element', 'button')}
$sel-nav-elem-menu: #{prefix('navigation-element', 'menu')}

// Navigation
$navigation-base-color: $x-color-primary !default
$navigation-disabled-color: $x-color-calmer !default
$navigation-text-disabled-color: $x-color-calm !default
$navigation-background: darken($navigation-base-color, 20%) !default
$navigation-menu-background: darken($navigation-base-color, 10%) !default
$navigation-text-color: $x-color-primary-opposite !default

$navigation-padding-horizontal: $x-padding-horizontal-small !default
$navigation-padding-vertical: $x-padding-vertical-very-small !default

$navigation-transition-time: 100ms !default

// Navigation elements
$navigation-element-text-color: $typography-link-color !default
$navigation-element-font-weight: $x-weight-bold !default
$navigation-element-active-background: $navigation-base-color !default
$navigation-element-active-border-color: $navigation-element-active-background !default
$navigation-element-active-text-color: $x-color-background !default
$navigation-element-hover-background-color: $x-color-pastel !default
$navigation-element-hover-border-color: $navigation-element-hover-background-color !default

$navigation-element-padding-horizontal: $x-padding-horizontal-small !default
$navigation-element-padding-vertical: $x-padding-vertical-small !default
$navigation-element-border-radius: $x-border-radius !default

// Navigation subtitle
$navigation-subtitle-font-size: $x-font-size-big !default

// Sidebar
$sidebar-size: dp(16) !default
$sidebar-element-height: dp(11) !default
$sidebar-label-size: dp(1.5) !default
$sidebar-icon-size: dp(3.4) !default
$sidebar-icon-margin-bottom: dp(1) !default
$sidebar-panel-width: dp(27) !default
$sidebar-box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.2) !default

$sidebar-panel-background: $x-color-primary !default
$sidebar-background-color: darken($sidebar-panel-background, 20%) !default
$sidebar-nested-background: darken($sidebar-panel-background, 10%) !default
$sidebar-panel-color: #eeeeee !default
$sidebar-button-text-color: lighten($x-color-primary, 35%) !default
$sidebar-button-border-color: darken($sidebar-panel-background, 2%) !default

// Breadcrumbs
$breadcrumbs-base-color: $x-color-calmer !default
$breadcrumbs-menu-background-color: $breadcrumbs-base-color !default
$breadcrumbs-element-active-color: $x-color-calm !default

// Tree
$tree-subtree-offset: $navigation-padding-horizontal !default

// Tabs
$tabs-element-background-color: $navigation-menu-background !default
$tabs-element-active-background-color: $navigation-element-active-background !default
$tabs-element-text-color: $navigation-text-color !default
$tabs-border: $x-border-width solid $color-tab-border !default
$tabs-border-radius: $navigation-element-border-radius $navigation-element-border-radius 0 0 !default

// Steps
$step-bullet-size: dp(1) !default
$step-bullet-border-color: #fff !default
$step-background-color: $x-color-calm !default
$step-background-color-active: $x-color-secondary !default
$step-background-color-error: $x-color-error !default
$step-background-color-completed: green !default
$step-background-color-disabled: $navigation-disabled-color !default
$step-text-color-disabled: $navigation-text-disabled-color !default

// Pagination
$pagination-element-min-width: dp(3)
$pagination-element-padding-vertical: $navigation-element-padding-vertical
$pagination-element-padding-horizontal: $navigation-element-padding-horizontal
$pagination-element-border-width: $x-border-width
$pagination-element-border-color: $x-input-border-color
$pagination-element-active-background-color: $navigation-base-color
$pagination-element-active-text-color: $navigation-text-color
