@import '~@talixo/shared/styles/config'

// Elements
$sel-nav: #{prefix('navigation')}
$sel-nav-subtitle: #{prefix('navigation', 'subtitle')}
$sel-nav-parent: #{prefix('navigation-parent')}
$sel-nav-elem: #{prefix('navigation-element')}
$sel-nav-elem-button: #{prefix('navigation-element', 'button')}
$sel-nav-elem-menu: #{prefix('navigation-element', 'menu')}

// Navigation
$navigation-base-color: $x-color-primary !default
$navigation-background: darken($navigation-base-color, 20%) !default
$navigation-menu-background: darken($navigation-base-color, 10%) !default
$navigation-text-color: $x-color-primary-opposite !default

$navigation-padding-horizontal: $x-padding-horizontal-small !default
$navigation-padding-vertical: $x-padding-vertical-very-small !default

$navigation-transition-time: 100ms !default

// Navigation elements
$navigation-element-text-color: $typography-link-color !default
$navigation-element-font-weight: $x-weight-bold !default
$navigation-element-active-background: $x-color-secondary !default
$navigation-element-active-border-color: $navigation-element-active-background !default
$navigation-element-active-text-color: $x-color-background !default
$navigation-element-hover-background-color: $x-color-pastel !default
$navigation-element-hover-border-color: $navigation-element-hover-background-color !default

$navigation-element-padding-horizontal: $x-padding-horizontal-small !default
$navigation-element-padding-vertical: $x-padding-vertical-small !default
$navigation-element-border-radius: $x-border-radius !default

// Navigation subtitle
$navigation-subtitle-font-size: $x-font-size-big !default

// Sidebar
$sidebar-size: dp(16) !default
$sidebar-element-height: dp(11) !default
$sidebar-label-size: dp(1.5) !default
$sidebar-icon-size: dp(3.4) !default
$sidebar-icon-margin-bottom: dp(1) !default
$sidebar-panel-width: dp(27) !default
$sidebar-box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.2) !default

$sidebar-panel-background: $x-color-primary !default
$sidebar-background-color: darken($sidebar-panel-background, 20%) !default
$sidebar-nested-background: darken($sidebar-panel-background, 10%) !default
$sidebar-panel-color: #eeeeee !default
$sidebar-panel-icon-color: $sidebar-icon-color !default
$sidebar-panel-header-color: $sidebar-panel-color !default
$sidebar-panel-header-icon-color: $sidebar-panel-header-color !default
$sidebar-active-button-background: $sidebar-panel-background !default
$sidebar-active-button-color: $sidebar-panel-color !default
$sidebar-active-button-icon-color: $sidebar-active-button-color !default
$sidebar-button-text-color: lighten($x-color-primary, 35%) !default
$sidebar-button-icon-color: $sidebar-button-text-color !default
$sidebar-button-border-color: darken($sidebar-panel-background, 2%) !default

$sidebar-transition-time: 400ms !default

$sel-sidebar: #{prefix('sidebar')}
$sel-sidebar-element: #{prefix('sidebar-element')}
$sel-sidebar-button: #{prefix('sidebar-element', 'button')}
$sel-sidebar-panel: #{prefix('sidebar-panel')}
$sel-sidebar-panel-content: #{prefix('sidebar-panel', 'content')}

// Breadcrumbs
$navigation-breadcrumbs-base-color: $x-color-calmer !default
$navigation-breadcrumbs-menu-background-color: $navigation-breadcrumbs-base-color !default
$navigation-breadcrumbs-element-active-color: $x-color-calm !default

// Tabs
$tabs-element-background: $x-color-pastel !default
$tabs-element-text-color: $x-color-text !default
$tabs-active-element-background: $x-color-background !default
$tabs-hover-element-background: $x-color-background !default

// Stepper
$step-background: $x-color-secondary !default
$step-border-color: $x-color-background !default
$step-active-background: $x-color-background !default
$step-active-border-color: $x-color-secondary !default
$step-disabled-background-color: $color-talixo-light-gray !default
$step-disabled-border-color: $x-color-background !default
$step-completed-background-color: $x-color-secondary !default
$step-completed-border-color: $step-completed-background-color !default
