@import './config'

@include module('navigation')
  box-sizing: border-box
  display: inline-block
  position: relative
  cursor: default

  /***** Common elements styles *****/
  #{$sel-nav-elem}
    cursor: pointer

  &__divider
    padding: $navigation-padding-vertical 0

  /***** Common styles for navigation type: breadcrumbs, navbar *****/
  &--navbar,
  &--breadcrumbs
    position: static

    // Parent elements styles
    &#{$sel-nav-parent}
      display: inline-flex
      justify-content: space-between
      padding: $navigation-padding-vertical 0
      border-radius: $navigation-element-border-radius

    // Navbar elements displayed inside dropdowns
    #{$sel-nav-elem}
      display: block
      position: relative
      margin: $navigation-padding-vertical 0
      user-select: none

    // Element button
    #{$sel-nav-elem-button}
      padding: $navigation-padding-vertical $navigation-padding-horizontal

    // Dropdown which will be shown after element is clicked
    #{$sel-nav-elem-menu}
      display: flex
      position: absolute
      flex-direction: column
      z-index: 999
      height: 0
      top: 0
      left: 100% // calc(100% + #{$navigation-padding-horizontal})
      overflow: hidden
      box-shadow: -3px 0px 3px rgba(0,0,0,0.16), -3px 0px 3px rgba(0,0,0,0.23)

    // Subtitle displayed at the top of each dropdown, specific for each.
    #{$sel-nav-subtitle}
      margin: $navigation-padding-vertical $navigation-padding-horizontal #{2 * $navigation-padding-vertical}
      font-size: $navigation-subtitle-font-size
      white-space: nowrap

    // Parent elements styles
    &#{$sel-nav-parent}
      // Set position of first navigation row
      > #{$sel-nav-elem}
        display: inline-block
        margin: 0 $navigation-padding-horizontal

        // Set position of first menu under navbar/breadcrumbs elements
        > #{$sel-nav-elem-menu}
          top: 100% // calc(100% + #{$navigation-padding-vertical})
          left: 0

  /***** Navigation type `breadcrumbs` specific rules *****/
  &--breadcrumbs
    &#{$sel-nav-parent}
      background-color: transparent

    #{$sel-nav-elem-menu}
      background-color: $breadcrumbs-menu-background-color

    // Open navigation menu on hover
    #{$sel-nav-elem}
      &:hover
        > #{$sel-nav-elem-menu}
          height: initial
          padding: $navigation-padding-vertical $navigation-padding-horizontal
          overflow: visible

    // Styles for active/open/hovered element
    #{$sel-nav-elem-menu}
      #{$sel-nav-elem}
        &:hover, &--active, &--open
          background-color: $breadcrumbs-element-active-color

  /***** Navigation type `navbar` and 'sidebar' rules *****/
  &--navbar,
  &--sidebar
    &#{$sel-nav-parent}
      background-color: $navigation-background
      color: $navigation-text-color

    #{$sel-nav-elem-menu}
      background-color: $navigation-menu-background

    // Styles for active/open/hovered element
    #{$sel-nav-elem}
      font-weight: $navigation-element-font-weight

      &:hover, &--active, &--open
        background-color: $navigation-element-active-background

  /***** Navigation type `navbar` rules *****/
  &--navbar
    // Show dropdown menu when opened
    #{$sel-nav-elem}
      &--open
        > #{$sel-nav-elem-menu}
          height: initial
          padding: $navigation-padding-vertical $navigation-padding-horizontal
          overflow: visible

  /***** Navigation type `sidebar` specific rules *****/
  &--sidebar
    display: block
    height: 100%
    background: $sidebar-background-color
    box-shadow: $sidebar-box-shadow
    color: $navigation-text-color
    width: $sidebar-size

    #{$sel-nav-elem},
    #{$sel-nav-subtitle}
      padding: $navigation-element-padding-vertical $navigation-element-padding-horizontal
      border-bottom: 1px solid  $sidebar-button-border-color

    #{$sel-nav-elem-menu}
      position: relative
      position: absolute
      left: 100%
      top: 0
      width: 0
      height: 100%
      overflow: hidden
      box-shadow: -1px 0 1px rgba(0,0,0,0.16), -3px 0 1px rgba(0,0,0,0.23)

    & &
      background: $sidebar-nested-background

    & > #{$sel-nav-elem}
      > #{$sel-nav-elem-button}
        font-size: $sidebar-label-size
        height: $sidebar-element-height

    #{$sel-nav-elem}
      &--open
        > #{$sel-nav-elem-menu}
          width: $sidebar-size
          overflow: visible

    &#{$sel-nav}--panel
      background: $sidebar-panel-background
      color: $sidebar-panel-color
      box-shadow: $sidebar-box-shadow
      width: $sidebar-panel-width

      & > #{$sel-nav-elem}
        > #{$sel-nav-elem-button}
          font-weight: initial
          height: initial

        &--open >  #{$sel-nav-elem-button},
        &:hover > #{$sel-nav-elem-button}
          font-weight: $navigation-element-font-weight

    // Animations
    #{$sel-nav-elem}
      > #{$sel-nav-elem-menu}
        transition: all $navigation-transition-time ease-out

      > #{$sel-nav-elem-menu} > #{$sel-nav}
        transform: translateX(-100%)
        transition: transform $navigation-transition-time ease-out

    #{$sel-nav-elem}
      &--open
        > #{$sel-nav-elem-menu}
          animation: $navigation-transition-time show-overflow 1

        > #{$sel-nav-elem-menu} > #{$sel-nav}
          transform: translateX(0)

  /***** Navigation type `tree` specific rules *****/
  &--tree
    #{$sel-nav-elem}
      padding: $navigation-padding-vertical $navigation-padding-horizontal
      overflow: hidden

    #{$sel-nav-elem-button}
      display: inline

    #{$sel-nav-elem-menu}
      position: relative
      left: 3 * $tree-subtree-offset
      padding: $navigation-padding-vertical $navigation-padding-horizontal
      height: 0
      overflow: hidden

    #{$sel-nav-elem}
      &--open > #{$sel-nav-elem-menu}
        height: initial
        overflow: visible

  /***** Common rules for type `tabs` and `steps` *****/
  &--tabs, &--steps
    display: flex

    #{$sel-nav-elem}
      text-align: center
      flex: 1 0

    #{$sel-nav-elem-menu}
      display: none

  /***** Navigation type `tabs` specific rules *****/
  &--tabs
    #{$sel-nav-elem}
      border: $tabs-border
      border-bottom: 0
      border-radius: $tabs-border-radius
      background-color: $tabs-element-background-color
      color: $tabs-element-text-color
      padding: $navigation-element-padding-vertical $navigation-element-padding-horizontal

    #{$sel-nav-elem}
      &:hover, &--active, &--open
        background-color: $tabs-element-active-background-color

  &--steps
    #{$sel-nav-elem}
      position: relative
      display: block
      pointer-events: none

    #{$sel-nav-elem-button}
      position: relative
      top: #{2 * $step-bullet-size}
      padding-bottom: #{2 * $step-bullet-size}

    #{$sel-nav-elem}
      // Step bullet
      &:before
        position: absolute
        top: calc(0% - #{1.25 * $step-bullet-size})
        left: calc(50% - #{$step-bullet-size})
        z-index: 1
        padding: $step-bullet-size
        content: ''
        border-width: #{.5 * $step-bullet-size}
        border-style: solid
        border-radius: #{2 * $step-bullet-size}
        background: $step-color-bullet
        box-shadow: inset $step-box-shadow $step-color
        border-color: $step-bullet-border-color
        pointer-events: auto

      // Steps line
      &:after
        position: absolute
        top: 0
        width: 100%
        height: dp(.25)
        z-index: -1
        background-color: $step-color-line
        content: ''
        pointer-events: none

      // Do not show line after last step
      &:last-of-type:after
        display: none

      &--completed
        &:before
          box-shadow: none
          background: $step-color

        &:after
          background-color: $step-color-line-completed

      &--error
        &:before
          box-shadow: inset $step-box-shadow $step-color-error

      &--active
        &:before
          background: $step-color
          box-shadow: inset $step-box-shadow $step-color-bullet
          border-color: $step-color

      &--disabled
        cursor: not-allowed

        &:before
          box-shadow: inset $step-box-shadow $step-color-disabled

        #{$sel-nav-elem-button}
          color: $step-color-disabled

  /***** Navigation type `pagination` specific rules *****/
  &--pagination
    display: inline-flex
    margin: 0 #{.25 * $pagination-element-padding-horizontal}

    #{$sel-nav-elem}
      min-width: $pagination-element-min-width
      padding: $pagination-element-padding-vertical $pagination-element-padding-horizontal
      border: $pagination-element-border-color solid $pagination-element-border-width
      border-radius: $x-border-radius
      user-select: none
      text-align: center

      &:hover, &--active
        color: $pagination-element-active-text-color
        background-color: $pagination-element-active-background-color

      &--disabled
        background-color: transparent
        pointer-events: none

@include module('pagination')
  display: inline-flex
  justify-content: space-between

@keyframes show-overflow
  0%, 100%
    overflow: hidden
