@import './config'

@include module('navigation')
  box-sizing: border-box
  display: inline-flex
  justify-content: space-between

  /***** Common styles for navigation type: breadcrumbs, navbar *****/
  &--navbar,
  &--breadcrumbs
    // Parent elements styles
    &#{$sel-nav-parent}
      padding: $navigation-padding-vertical 0
      border-radius: $navigation-element-border-radius
      font-weight: 600

    // Navbar elements displayed inside dropdowns
    #{$sel-nav-elem}
      display: block
      position: relative
      margin: $navigation-padding-vertical 0
      user-select: none
      cursor: pointer

    // Element content
    #{$sel-nav-elem-content}
      padding: $navigation-padding-vertical $navigation-padding-horizontal

    // Dropdown which will be shown after element is clicked
    #{$sel-nav-elem-menu}
      display: flex
      position: absolute
      z-index: 999
      flex-direction: column
      height: 0
      top: 0
      left: calc(100% + #{$navigation-padding-horizontal})
      overflow: hidden
      box-shadow: -3px 3px 6px rgba(0,0,0,0.16), -3px 3px 6px rgba(0,0,0,0.23)

    // Subtitle displayed at the top of each dropdown, specific for each.
    #{$sel-nav-elem-subtitle}
      pointer-events: none
      font-size: $navigation-subtitle-font-size
      white-space: nowrap
      margin: $navigation-padding-vertical $navigation-padding-horizontal #{2 * $navigation-padding-vertical}

    // Parent elements styles
    &#{$sel-nav-parent}
      // Set position of first navigation row
      > #{$sel-nav-elem}
        display: inline-block
        margin: 0 $navigation-padding-horizontal

        // Set position of first menu under navbar/breadcrumbs elements
        > #{$sel-nav-elem-menu}
          top: calc(100% + #{$navigation-padding-vertical})
          left: 0

    // Styles for active/open/hovered element
    #{$sel-nav-elem}
      &--open
        > #{$sel-nav-elem-menu}
          height: initial
          padding: $navigation-padding-vertical $navigation-padding-horizontal
          overflow: visible

  /***** Navigation type `navbar` specific rules *****/
  &--navbar
    &#{$sel-nav-parent}
      background-color: $navigation-background
      color: $navigation-text-color

    #{$sel-nav-elem-menu}
      background-color: $navigation-menu-background

    // Styles for active/open/hovered element
    #{$sel-nav-elem}
      &:hover, &--active
        background-color: $navigation-base-color

  /***** Navigation type `breadcrumbs` specific rules *****/
  &--breadcrumbs
    &#{$sel-nav-parent}
      background-color: transparent

    #{$sel-nav-elem-menu}
      background-color: $navigation-breadcrumbs-menu-background-color

    // Styles for active/open/hovered element
    #{$sel-nav-elem}
      &:hover, &--active
        background-color: $navigation-breadcrumbs-base-color

@keyframes show-overflow
  0%, 100%
    overflow: hidden
