@import './config'

@include module('navigation')
  &--pagination
    &--element
      background-color: $color-white
      border-color: $color-white
      color: $color-ghost-text

      &:hover
        background-color: $color-tab-inactive
        border-color: $color-tab-inactive

      &:active, &--active
        background-color: $color-orange-talixo
        border-color: $color-orange-talixo
        color: $color-white

      &--disabled
        &:hover
          background-color: $color-white
          border-color: $color-white
          color: $color-ghost-text

  &--tabs
    &--element
      background-color: $color-tab-inactive
      color: #000

      &:hover
        background-color: $color-white

      &:active
        background-color: $color-white

      &--active
        background-color: $color-white
