@import './config'

@include module('navigation')
  $n: &
  &--pagination
    > #{$n}__element
      background-color: $pagination-element-background
      border-color: $pagination-element-border-color
      color: $pagination-element-text-color

      &:hover
        background-color: $pagination-hover-element-background-color
        border-color: $pagination-hover-element-border-color
        color: $pagination-element-text-color

      &:active
        background-color: $pagination-active-element-background
        border-color: $pagination-active-element-border-color
        color: $pagination-active-element-text-color

      &--active
        background-color: $pagination-active-element-background
        border-color: $pagination-active-element-border-color
        color: $pagination-active-element-text-color

  &--tabs
    > #{$n}__element
      background-color: $tabs-element-background
      color: $tabs-element-text-color

      &:hover
        background-color: $tabs-hover-element-background

      &:active
        background-color: $tabs-active-element-background

      &--active
        background-color: $tabs-active-element-background
