@import './config'

@include module('tooltip')
  position: absolute
  display: inline-block
  padding: dp(1) dp(1.5)
  border: dp(0.07) solid $color-border-tooltip
  border-radius: $border-radius-m
  font-size: $font-size-m
  line-height: 1.5em
  top: 0
  left: 0
  box-shadow: 0 dp(0.2) dp(0.4) 0 $color-border-tooltip

  > *
    margin: 0 dp(0.5)

  &:before
    display: none
    position: absolute
    content: ''
    width: 0
    height: 0
    border-style: solid
    z-index: -1

  &:after
    display: none
    position: absolute
    content: ''
    width: 0
    height: 0
    border-style: solid
    z-index: -1

  &__fade-enter
    opacity: 0.01

  &__fade-enter-active
    opacity: 1

  &__fade-exit
    opacity: 1

  &__fade-exit-active
    opacity: 0.01

  &--right
    transform: translateY(-50%) translateX(dp(1))

    &:before
      top: 50%
      left: 0
      border-width: dp(0.5) dp(1.25) dp(0.5) 0
      border-color: transparent $color-border-tooltip transparent transparent
      transform: translateX(-100%) translateY(dp(-0.5))

    &:after
      top: 50%
      left: 3%
      border-width: dp(0.5) dp(1.25) dp(0.5) 0
      border-color: transparent $color-white transparent transparent
      transform: translateX(-100%) translateY(dp(-0.5))

  &--left
    transform: translateY(-50%) translateX(-100%) translateX(dp(-1))

    &:before
      top: 50%
      left: 100%
      border-width: dp(0.5) 0 dp(0.5) dp(1.25)
      border-color: transparent transparent transparent $color-border-tooltip
      transform: translateY(dp(-0.5))

    &:after
      top: 50%
      left: 97%
      border-width: dp(0.5) 0 dp(0.5) dp(1.25)
      border-color: transparent transparent transparent $color-white
      transform: translateY(dp(-0.5))

  &--bottom
    transform: translateY(dp(1)) translateX(-50%)

    &:before
      top: 0
      left: 50%
      border-width: 0 dp(0.5) dp(1.25) dp(0.5)
      border-color: transparent transparent $color-border-tooltip transparent
      transform: translateY(-100%) translateX(dp(-0.5))

    &:after
      top: 9%
      left: 50%
      border-width: 0 dp(0.5) dp(1.25) dp(0.5)
      border-color: transparent transparent $color-white transparent
      transform: translateY(-100%) translateX(dp(-0.5))

  &--top
    transform: translateY(-100%) translateY(dp(-1)) translateX(-50%)

    &:before
      top: 100%
      left: 50%
      border-width: dp(1.25) dp(0.5) 0 dp(0.5)
      border-color: $color-border-tooltip transparent transparent transparent
      transform: translateX(dp(-0.5))

    &:after
      top: 96%
      left: 50%
      border-width: dp(1.25) dp(0.5) 0 dp(0.5)
      border-color: $color-white transparent transparent transparent
      transform: translateX(dp(-0.5))

  &__wrapper
    display: inline-block
    position: relative
    width: auto
    height: auto

  &--arrow
    &:before,
    &:after
      display: inline-block
