@import './config'

@include module('tooltip')
  position: absolute
  display: inline-block
  padding: grid-unit(1) grid-unit(1.5)
  border: $border-width solid
  border-radius: $border-radius-m
  background-color: $color-orange-talixo
  border-color: $color-orange-talixo
  font-size: $font-size-m
  line-height: 1.5em
  color: $color-white
  top: 0
  left: 0

  > *
    margin: 0 grid-unit(0.5)

  &:before
    position: absolute
    content: ''
    background-color: inherit
    border-style: solid
    border-color: $color-orange-talixo
    width: grid-unit(1)
    height: grid-unit(1)
    z-index: -1

  &-fade-enter
    opacity: 0.01

  &-fade-enter-active
    opacity: 1

  &-fade-exit
    opacity: 1

  &-fade-exit-active
    opacity: 0.01

  &--right
    transform: translateY(-50%) translateX(grid-unit(1))

    &:before
      transform: translateY(-50%) translateX(50%) rotate(-45deg) skew(20deg, 20deg)
      top: 50%
      right: 100%
      border-width: $border-width 0 0 $border-width

  &--left
    transform: translateY(-50%) translateX(-100%) translateX(grid-unit(-1))

    &:before
      transform: translateY(-50%) translateX(50%) rotate(-45deg) skew(20deg, 20deg)
      top: 50%
      right: 0%
      border-width: 0 $border-width $border-width 0

  &--bottom
    transform: translateY(grid-unit(1)) translateX(-50%)

    &:before
      transform: translateY(-50%) translateX(50%) rotate(45deg) skew(20deg, 20deg)
      top: 0%
      right: 50%
      border-width: $border-width 0 0 $border-width

  &--top
    transform: translateY(-100%) translateY(grid-unit(-1)) translateX(-50%)

    &:before
      transform: translateY(-50%) translateX(50%) rotate(45deg) skew(20deg, 20deg)
      top: 100%
      right: 50%
      border-width: 0 $border-width $border-width 0

  &--black:before
    border-color: $color-black

  &--primary
    background-color: $color-orange-talixo
    border-color: $color-orange-talixo

  &--black
    background-color: $color-black
    border-color: $color-black

  &-hover
    position: relative
    width: auto
    height: auto
