@import '~@talixo/shared/styles/config'

// Sizes
$divider-padding: dp(5)
$divider-padding-small: dp(1)
$divider-text-padding: 0 dp(2)
$divider-text-font-size: dp(2.25)

// Colors
$divider-color: $color-talixo-light-gray
