@import '~@talixo/shared/styles/config'
// Colors
$file-input-border-color: $x-color-calm !default
$file-input-cover-color: $x-color-calmer !default
$file-input-remove-color: $x-color-error !default

// Text styles
$file-input-name-font-weight: $x-weight-semibold !default

// Animations
$file-input-transition: .2s linear !default

//Wrapper sizes
$file-input-padding: 0 !default
$file-input-border-width: $x-border-width !default
$file-input-border: dashed $file-input-border-width $file-input-border-color !default
$file-input-border-drag: solid $file-input-border-width $file-input-border-color !default
$file-input-border-radius: $x-border-radius !default

// Padding
$file-input-file-button-padding: dp(1) 0 !default
$file-input-file-wrapper-padding: dp(.5) dp(1) !default
$file-input-file-padding: 0 dp(1) dp(.5) !default

// File details sizes
$file-input-icon-wrapper-width: dp(7) !default
$file-input-icon-remove-font-size: dp(1.5) !default
$file-input-icon-file-font-size: dp(3) !default
$file-input-name-font-size: dp(1.625) !default
$file-input-size-font-size: dp(1.5) !default
