@import '~@talixo/shared/styles/config'

// File input border

$file-input-border-width: $x-border-width !default
$file-input-border-style: dashed !default
$file-input-border-color: $x-color-calm !default
$file-input-border-radius: $x-border-radius !default

$file-input-drag-border-style: solid !default
$file-input-drag-border-color: $file-input-border-color !default

// File input padding

$file-input-padding-horizontal: $x-padding-horizontal-base !default
$file-input-padding-vertical: $x-padding-vertical-base !default

// File input cover

$file-input-cover-background-color: $x-color-calmer !default
$file-input-cover-opacity: 0.6 !default

// Files wrapper

$file-input-wrapper-margin-horizontal: $x-padding-horizontal-base !default
$file-input-wrapper-margin-vertical: $x-padding-vertical-base !default

// File input "browse" button

$file-input-button-margin-horizontal: 0 !default
$file-input-button-margin-vertical: 0 !default

// File representation in file input

$file-input-file-padding-horizontal: 0 !default
$file-input-file-padding-vertical: $x-padding-vertical-very-small !default

$file-input-file-description-margin: $x-padding-horizontal-base !default

$file-input-file-icon-size: $x-font-size-large !default

$file-input-file-name-font-size: $x-font-size-base !default
$file-input-file-name-font-weight: $x-weight-bold !default
$file-input-file-size-font-size: $x-font-size-medium !default

// File "remove" button

$file-input-remove-margin: $x-padding-horizontal-small !default
$file-input-remove-border-radius: 50% !default
$file-input-remove-padding-horizontal: 2px !default
$file-input-remove-padding-vertical: 0 !default

$file-input-remove-icon-size: $x-font-size-big !default
$file-input-remove-icon-color: $x-color-error !default
$file-input-remove-background-color: transparent !default
$file-input-remove-hover-icon-color: $x-color-background !default
$file-input-remove-hover-background-color: $x-color-error !default

// Files divider

$file-input-file-divider-style: solid !default
$file-input-file-divider-color: $x-color-calmer !default
$file-input-file-divider-size: $x-border-width !default
