@import './config'

@include module('file-input')
  box-sizing: border-box
  border: dashed dp(.125) $color-talixo-light-gray
  border-radius: dp(.25)
  display: flex
  flex-direction: column
  align-items: center
  padding: dp(2)
  width: 100%
  min-height: dp(5)

  &--dragover
    opacity: .6
    *
      pointer-events: none

  *
    box-sizing: border-box

  &__children
    width: fit-content
    //
    //&__fade
    //  &-enter
    //    opacity: 0.01
    //
    //  &-enter-active
    //    opacity: 1
    //    transition: opacity 500ms ease-in
    //
    //  &-enter-exit
    //    opacity: 1
    //
    //  &-enter-exit-active
    //    opacity: 0.01
    //    transition: opacity 500ms ease-in


  &__files-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    padding: dp(3) 0 0

  &__upload
    > div
      text-align: center

@include module('file')
  display: inline-flex
  align-items: center
  flex-basis: 33.3%
  padding: dp(2)

  > div
    padding: 0 dp(.6)

  &__icon, &__remove
    user-select: none

  &__icon
    font-size: dp(6)

  &__name
    font-size: dp(1.75)
    font-weight: $font-weight-semibold

  &__remove
    color: $color-talixo-error-red
    cursor: pointer
    font-size: dp(3)
