@import './config'
.talixo-file-input-storybook
  &__icon
    color: $color-talixo-light-gray
    font-size: dp(12)
    height: fit-content
    padding: dp(4) 0 dp(6)
    pointer-events: none
    user-select: none

  &__wrapper
    display: flex
    align-items: center
    flex-direction: column
    //text-align: center
