@import '~@talixo/shared/styles/config'

$badge-font-size: $font-size-s
$badge-font-weight: $font-weight-semibold
$badge-border-radius: $border-radius-pill

$badge-background-color: $color-orange-talixo
$badge-border-color: $color-orange-talixo
$badge-color: $color-white
