@import '~@talixo/shared/styles/config'

$badge-font-size: dp(1.375) !default
$badge-line-height: $badge-font-size * $x-line-height-base !default
$badge-font-weight: $x-weight-semibold !default

$badge-border-radius: $x-border-radius !default
$badge-pill-border-radius: $x-line-height-base * 1em !default

$badge-padding-horizontal: $x-padding-horizontal-small !default
$badge-padding-vertical: $x-padding-vertical-very-small !default

$badge-border-width: $x-border-width !default
$badge-pill-border-width: $badge-border-width !default

$badge-background-color: $x-color-calmer !default
$badge-text-color: $x-color-calmer-opposite !default
$badge-border-color: mix($badge-text-color, $badge-background-color, 10%) !default

$badge-primary-background-color: $x-color-primary !default
$badge-primary-text-color: $x-color-primary-opposite !default
$badge-primary-border-color: mix($badge-primary-text-color, $badge-primary-background-color, 10%) !default

$badge-secondary-background-color: $x-color-secondary !default
$badge-secondary-text-color: $x-color-secondary-opposite !default
$badge-secondary-border-color: mix($badge-secondary-text-color, $badge-secondary-background-color, 10%) !default

$badge-tertiary-background-color: $x-color-tertiary !default
$badge-tertiary-text-color: $x-color-tertiary-opposite !default
$badge-tertiary-border-color: mix($badge-tertiary-text-color, $badge-tertiary-background-color, 10%) !default

$badge-success-background-color: $x-color-success !default
$badge-success-text-color: $x-color-success-opposite !default
$badge-success-border-color: mix($badge-success-text-color, $badge-success-background-color, 10%) !default

$badge-info-background-color: $x-color-info !default
$badge-info-text-color: $x-color-info-opposite !default
$badge-info-border-color: mix($badge-info-text-color, $badge-info-background-color, 10%) !default

$badge-warning-background-color: $x-color-warning !default
$badge-warning-text-color: $x-color-warning-opposite !default
$badge-warning-border-color: mix($badge-warning-text-color, $badge-warning-background-color, 10%) !default

$badge-error-background-color: $x-color-error !default
$badge-error-text-color: $x-color-error-opposite !default
$badge-error-border-color: mix($badge-error-text-color, $badge-error-background-color, 10%) !default

$badge-text-shadow: true !default
