@import '~@talixo/shared/styles/config'

$sidebar-size: dp(16) !default
$sidebar-element-height: dp(12) !default
$sidebar-label-size: dp(1.5) !default
$sidebar-icon-size: dp(3) !default
$sidebar-icon-margin-bottom: dp(1) !default
$sidebar-panel-width: dp(27) !default
$sidebar-box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.09) !default

$sidebar-background-color: darken($x-color-primary, 20%) !default
$sidebar-nested-background: $sidebar-background-color !default
$sidebar-panel-background: $x-color-primary !default
$sidebar-panel-color: #fff !default
$sidebar-panel-icon-color: $sidebar-panel-color !default
$sidebar-active-button-background: $sidebar-panel-background !default
$sidebar-active-button-color: $sidebar-panel-color !default
$sidebar-active-button-icon-color: $sidebar-active-button-color !default
$sidebar-panel-color: $navy-inverse-text !default
$sidebar-button-text-color: lighten($x-color-primary, 35%) !default
$sidebar-button-icon-color: $sidebar-button-text-color !default
$sidebar-panel-header-color: #ffffff !default
$sidebar-panel-header-icon-color: $sidebar-panel-header-color !default

$sidebar-transition-time: 400ms !default

$sel-sidebar: #{prefix('sidebar')}
$sel-sidebar-element: #{prefix('sidebar-element')}
$sel-sidebar-button: #{prefix('sidebar-element', 'button')}
$sel-sidebar-panel: #{prefix('sidebar-panel')}
$sel-sidebar-panel-content: #{prefix('sidebar-panel', 'content')}
