@import './config'

// Handle basic styles for Sidebar itself
@include module('sidebar')
  position: relative
  display: block
  background: #eee
  height: 100%

  // Set up width of sidebar
  &, &__content
    width: $sidebar-size

  // SidebarElement buttons which are directly inside of Sidebar
  &__content > #{$sel-sidebar-element}
    > #{$sel-sidebar-button}
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      font-size: $sidebar-label-size
      height: $sidebar-size
      cursor: pointer

      > .tai
        font-size: $sidebar-icon-size

    &--opened > #{$sel-sidebar-button},
    &--active > #{$sel-sidebar-button},
    > #{$sel-sidebar-button}:hover
      background-color: $sidebar-active-button-background
      color: $sidebar-active-button-color

// Handle opening and closing sub-panels/sub-elements
@include module('sidebar-element')
  // Hidden panels/sidebars
  > #{$sel-sidebar-panel},
  > #{$sel-sidebar}
    position: absolute
    left: 100%
    top: 0
    width: 0
    height: 100%
    overflow: hidden

  // Styles after opening them
  &--opened > #{$sel-sidebar}
    width: $sidebar-size

  &--opened > #{$sel-sidebar},
  &--opened > #{$sel-sidebar-panel}
    overflow: visible

  &--opened > #{$sel-sidebar-panel}
    width: $sidebar-panel-width

// Handle styles for SidebarPanel
@include module('sidebar-panel')
  background: $sidebar-panel-background
  color: $sidebar-panel-color

  &, &__content
    box-sizing: border-box
    width: $sidebar-panel-width
    height: 100%

  &__content
    padding: dp(3) dp(4)

  &__header
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 0 dp(3)

    > .tai
      margin-right: dp(0.5)

  // SidebarElement buttons which are directly inside of SidebarPanel
  &__content > #{$sel-sidebar-element} > #{$sel-sidebar-button}
    display: flex
    flex-direction: row
    align-items: center
    color: $navy-inverse-text
    cursor: pointer

    > .tai
      font-size: $sidebar-icon-size
