@import './config'

// Handle basic styles for Sidebar itself
@include module('sidebar')
  position: relative
  display: block
  height: 100%
  background: $sidebar-background-color
  box-shadow: $sidebar-box-shadow
  color: $sidebar-button-text-color

  #{$sel-sidebar-button}
    border-bottom: 1px solid  $sidebar-button-border-color

  // Nested sidebars
  & &
    background: $sidebar-nested-background

  // SidebarElement buttons which are directly inside of Sidebar
  &__content > #{$sel-sidebar-element}
    > #{$sel-sidebar-button}
      font-weight: 800

      > .tai
        color: $sidebar-button-icon-color

  // Set up width of sidebar
  &, &__content
    width: $sidebar-size

  // SidebarElement buttons which are directly inside of Sidebar
  &__content > #{$sel-sidebar-element}
    > #{$sel-sidebar-button}
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      font-size: $sidebar-label-size
      height: $sidebar-element-height
      cursor: pointer

      > .tai
        font-size: $sidebar-icon-size
        margin-bottom: $sidebar-icon-margin-bottom

    &--open > #{$sel-sidebar-button},
    &--active > #{$sel-sidebar-button},
    > #{$sel-sidebar-button}:hover
      background-color: $sidebar-active-button-background
      color: $sidebar-active-button-color

      > .tai
        color: $sidebar-active-button-icon-color

// Handle opening and closing sub-panels/sub-elements
@include module('sidebar-element')
  // Hidden panels/sidebars
  > #{$sel-sidebar-panel},
  > #{$sel-sidebar}
    position: absolute
    left: 100%
    top: 0
    width: 0
    height: 100%
    overflow: hidden

  // Styles after opening them
  &--open > #{$sel-sidebar}
    width: $sidebar-size

  &--open > #{$sel-sidebar},
  &--open > #{$sel-sidebar-panel}
    overflow: visible

  &--open > #{$sel-sidebar-panel}
    width: $sidebar-panel-width

  // Hidden panels/sidebars
  > #{$sel-sidebar-panel},
  > #{$sel-sidebar}
    transition: all $sidebar-transition-time ease-out

  > #{$sel-sidebar-panel} > #{$sel-sidebar-panel-content}
    transform: translateX(-100%)
    transition: transform $sidebar-transition-time ease-out

  &--open > #{$sel-sidebar},
  &--open > #{$sel-sidebar-panel}
    animation: $sidebar-transition-time show-overflow 1

  &--open > #{$sel-sidebar-panel} > #{$sel-sidebar-panel-content}
    transform: translateX(0)

// Handle styles for SidebarPanel
@include module('sidebar-panel')
  background: $sidebar-panel-background
  color: $sidebar-panel-color
  box-shadow: $sidebar-box-shadow

  &, &__content
    box-sizing: border-box
    width: $sidebar-panel-width
    height: 100%

  &__content
    padding: dp(3) dp(4)

  &__header
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 0 dp(3)

    > .tai
      margin-right: dp(0.5)

  // SidebarElement buttons which are directly inside of SidebarPanel
  &__content > #{$sel-sidebar-element} > #{$sel-sidebar-button}
    display: flex
    flex-direction: row
    align-items: center
    cursor: pointer

    > .tai
      font-size: $sidebar-icon-size
  
  &__content
    padding: dp(3) dp(4)

  &__header
    color: $sidebar-panel-header-color

    > .tai
      color: $sidebar-panel-header-icon-color

  // SidebarElement buttons which are directly inside of SidebarPanel
  &__content > #{$sel-sidebar-element} > #{$sel-sidebar-button}
    font-weight: 300
    padding: dp(0.5) 0
    margin: dp(0.5) 0

    > .tai
      color: $sidebar-button-icon-color

    &:hover
      font-weight: bold

@keyframes show-overflow
  0%, 100%
    overflow: hidden
