@import './config'

// Handle basic styles for Sidebar itself
@include module('sidebar')
  background: #fff
  box-shadow: $sidebar-box-shadow

  // Nested sidebars
  & &
    background: $sidebar-nested-background

  // SidebarElement buttons which are directly inside of Sidebar
  &__content > #{$sel-sidebar-element}
    > #{$sel-sidebar-button}
      color: $sidebar-button-text-color
      font-weight: 300

      > .tai
        color: $sidebar-button-icon-color

// Handle opening and closing sub-panels/sub-elements
@include module('sidebar-element')
  // Hidden panels/sidebars
  > #{$sel-sidebar-panel},
  > #{$sel-sidebar}
    transition: all $sidebar-transition-time ease-out

  > #{$sel-sidebar-panel} > #{$sel-sidebar-panel-content}
    transform: translateX(-100%)
    transition: transform $sidebar-transition-time ease-out

  &--opened > #{$sel-sidebar},
  &--opened > #{$sel-sidebar-panel}
    animation: $sidebar-transition-time show-overflow 1

  &--opened > #{$sel-sidebar-panel} > #{$sel-sidebar-panel-content}
    transform: translateX(0)

// Handle styles for SidebarPanel
@include module('sidebar-panel')
  box-shadow: $sidebar-box-shadow

  &__content
    padding: dp(3) dp(4)

  &__header
    color: $sidebar-panel-header-color

    > .tai
      color: $sidebar-button-icon-color

  // SidebarElement buttons which are directly inside of SidebarPanel
  &__content > #{$sel-sidebar-element} > #{$sel-sidebar-button}
    font-weight: 300
    padding: dp(0.5) 0
    margin: dp(0.5) 0

    > .tai
      color: $sidebar-button-icon-color

    &:hover
      font-weight: bold

@keyframes show-overflow
  0%, 100%
    overflow: hidden
