@import './config'

// FIXME: this file should use variables!

@include module('expiration-date-input')
  display: flex
  width: auto

  &__year
    min-width: dp(12)

  &__month
    min-width: dp(11)

  @include module('text-input')
    &__right
      pointer-events: none
      color: #999

@include module('credit-card-input')
  border: 0

  > legend
    margin-left: 30%

  &__content
    position: relative

@include module('range-input')
  display: inline-block

  &:not(:last-child)
    margin-right: dp(2)

    &:hover, #{prefix('combo-box')}--open
      #{prefix('combo-box', 'value')}
        border-color: #ccc
