@import '~@talixo/shared/styles/config'

$textarea-border-radius: $border-radius-m
$textarea-border-color: $color-placeholder-text
$textarea-background-color: $color-white
$textarea-text-color: $color-black
$textarea-background-color-disabled: $color-talixo-lighter-gray

$textarea-padding: dp(2)
