@import '~@talixo/shared/styles/config'

$textarea-font-size: $x-input-text-size !default
$textarea-line-height: 1em * $x-line-height-base !default
$textarea-padding-horizontal: $x-input-padding-horizontal !default
$textarea-padding-vertical: $x-input-padding-vertical !default

$textarea-text-color: $x-input-text-color !default
$textarea-background-color: $x-input-background-color !default
$textarea-border-color: $x-input-border-color !default
$textarea-placeholder-color: $x-input-placeholder-color !default

$textarea-border-width: $x-border-width !default
$textarea-border-radius: $x-border-radius !default

$textarea-hover-background-color: $x-input-hover-background-color !default
$textarea-hover-border-color: $x-input-hover-border-color !default
$textarea-hover-text-color: $x-input-hover-text-color !default

$textarea-focus-background-color: $x-input-focus-background-color !default
$textarea-focus-border-color: $x-input-focus-border-color !default
$textarea-focus-text-color: $x-input-focus-text-color !default

$textarea-error-background-color: $x-input-error-background-color !default
$textarea-error-border-color: $x-input-error-border-color !default
$textarea-error-text-color: $x-input-error-text-color !default
$textarea-error-placeholder-color: $x-input-error-placeholder-color !default

$textarea-disabled-background-color: $x-color-calmer !default
$textarea-disabled-border-color: $textarea-hover-border-color !default
$textarea-disabled-text-color: $textarea-text-color !default
$textarea-disabled-placeholder-color: $textarea-placeholder-color !default
