@import '~@talixo/shared/styles/config'

$input-border-radius: $border-radius-m
$input-error-color: $color-talixo-error-red
$input-font-size: $font-size-m
$input-small-font-size: $font-size-s
$input-border-color: $color-placeholder-text
$input-background-color: $color-white
$input-text-color: $color-black
$input-icon-color: #a5bfd8

$input-padding: dp(2)
$input-small-padding: dp(1.125)
$input-icon-width: dp(2.5)
$input-icon-size: dp(2.5)