@import './config'

@include module('textarea')
  display: block
  padding: $textarea-padding
  border: 1px solid $textarea-border-color
  border-radius: $textarea-border-radius
  background-color: $textarea-background-color
  color: $textarea-text-color
  outline: none
  width: 100%
  box-sizing: border-box
  min-height: dp(6.25)

  &--disabled
    background-color: $textarea-background-color-disabled

  &--no-resize
    resize: none;